@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.amenities-list__title, .amenities__descr, .amenities-title, .amenities-list {
  margin: 0;
  padding: 0;
}

.amenities-list {
  list-style: none;
}

.amenities-button-return {
  fill: currentColor;
}

.restaurant-details__button {
  weight: 236px;
  padding-top: 13px;
  padding-bottom: 14px;
}
@media (min-width: 1024px) {
  .restaurant-details__button {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/*--Times New Roman - cyr normal--*/
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/FontsFree-Net-times-new-roman.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-times-new-roman.woff") format("woff"), url("../fonts/FontsFree-Net-times-new-roman.ttf") format("truetype"), url("../fonts/FontsFree-Net-times-new-roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*--Times New Roman - cyr bold--*/
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/FontsFree-Net-times-new-roman-bold.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-times-new-roman-bold.woff") format("woff"), url("../fonts/FontsFree-Net-times-new-roman-bold.ttf") format("truetype"), url("../fonts/FontsFree-Net-times-new-roman-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*--Film P3 - bold--*/
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FontsFree-Net-FilmP3Bold.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-FilmP3Bold.woff") format("woff"), url("../fonts/FontsFree-Net-FilmP3Bold.ttf") format("truetype"), url("../fonts/FontsFree-Net-FilmP3Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 414px;
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #fffdee;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.219;
  letter-spacing: 0.02em;
  background-color: #000000;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover, .button:active {
  background-color: #ffffff;
  border-color: #f3c653;
}

.button-reserve {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.219;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #000000;
}
.button-reserve:focus, .button-reserve:hover, .button-reserve:active {
  background-color: #f3c653;
  color: #000000;
}
@media (min-width: 1024px) {
  .button-reserve {
    font-size: 24px;
  }
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0;
  border-spacing: 0;
}

.amenities {
  padding-top: 32px;
  padding-bottom: 32px;
}

.amenities-title {
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
}

.amenities-title_margin {
  margin-bottom: 16px;
}

.amenities-list_flex {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}

.amenities__descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

.amenities__descr_margin {
  margin-bottom: 32px;
}

.amenities-list__title {
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.amenities-button {
  padding: 20px 42px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.amenities-button:hover, .amenities-button:focus {
  background-color: #f3c653;
  color: #000000;
}

.amenities-button_margin {
  margin-bottom: 16px;
}

.amenities-button-return {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #f3c653;
  background-color: inherit;
  border: none;
  transition: fill, color;
}
.amenities-button-return:focus, .amenities-button-return:hover {
  color: #f3c653;
  fill: transparent;
}

img {
  display: block;
  max-width: 100%;
}

.hotel-about {
  display: block;
  padding-top: 18px;
  padding-bottom: 20px;
  background-color: #fffdee;
}
@media (min-width: 1024px) {
  .hotel-about {
    padding-top: 120px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1280px) {
  .hotel-about {
    padding-bottom: 50px;
  }
}

.conteiner-hotel-about {
  display: block;
  position: relative;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1023px) {
  .conteiner-hotel-about {
    max-width: 414px;
  }
}
@media (min-width: 1024px) {
  .conteiner-hotel-about {
    padding: 0 47px;
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .conteiner-hotel-about {
    padding: 0 85px;
    max-width: 1280px;
  }
}

.hotel-about__title {
  margin-top: 0;
  margin-bottom: 6px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: right;
  color: #b4b4b4;
}
@media (min-width: 1024px) {
  .hotel-about__title {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.hotel-about__logo {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  max-width: 127px;
  font-family: "Film P3", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #494848;
}
@media (max-width: 413px) {
  .hotel-about__logo {
    margin-bottom: 4vw;
  }
}
@media (min-width: 414px) {
  .hotel-about__logo {
    margin-bottom: 16px;
  }
}
@media (min-width: 1024px) {
  .hotel-about__logo {
    font-size: 64px;
    max-width: 204px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .hotel-about__logo {
    color: #828282;
  }
}

@media (max-width: 413px) {
  .hotel-about-article-one {
    margin-bottom: 8vw;
  }
}
@media (max-width: 1023px) {
  .hotel-about-article-one {
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .hotel-about-article-one {
    margin-bottom: 142px;
  }
}
@media (min-width: 1280px) {
  .hotel-about-article-one {
    margin-bottom: 162px;
  }
}

.hotel-about-article-one__description {
  margin-left: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
}
@media (max-width: 413px) {
  .hotel-about-article-one__description {
    width: 58vw;
    margin-bottom: 7vw;
    font-size: 9px;
  }
}
@media (min-width: 414px) {
  .hotel-about-article-one__description {
    width: 242px;
    margin-bottom: 28px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .hotel-about-article-one__description {
    font-size: 16px;
    width: 419px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .hotel-about-article-one__description {
    width: 488px;
  }
}

.hotel-about-article-one__img {
  display: block;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
@media (max-width: 413px) {
  .hotel-about-article-one__img {
    max-width: 63%;
  }
}
@media (min-width: 414px) {
  .hotel-about-article-one__img {
    max-width: 244px;
  }
}
@media (min-width: 1024px) {
  .hotel-about-article-one__img {
    position: absolute;
    top: -144px;
    right: 512px;
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .hotel-about-article-one__img {
    right: 640px;
    max-width: 460px;
  }
}

.hotel-about-article-two {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 413px) {
  .hotel-about-article-two {
    margin-bottom: 8vw;
  }
}

.hotel-about-article-two__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #C79002;
}
@media (max-width: 413px) {
  .hotel-about-article-two__description {
    width: 42%;
    font-size: 9px;
    margin-right: 5vw;
  }
}
@media (min-width: 414px) {
  .hotel-about-article-two__description {
    width: 163px;
    font-size: 12px;
    margin-right: 21px;
  }
}
@media (min-width: 1024px) {
  .hotel-about-article-two__description {
    font-size: 16px;
    width: 312px;
    margin-right: 48px;
  }
}
@media (min-width: 1280px) {
  .hotel-about-article-two__description {
    width: 311px;
    margin-right: 45px;
    margin-bottom: 120px;
  }
}

.hotel-about-article-two__img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
@media (max-width: 413px) {
  .hotel-about-article-two__img {
    width: 48%;
  }
}
@media (min-width: 414px) {
  .hotel-about-article-two__img {
    max-width: 200px;
  }
}
@media (min-width: 1024px) {
  .hotel-about-article-two__img {
    max-width: 350px;
  }
}
@media (min-width: 1280px) {
  .hotel-about-article-two__img {
    max-width: 460px;
  }
}

.new-slider {
  overflow: hidden;
  position: absolute;
  background-color: tomato;
  width: 200px;
}

.menu {
  width: 100%;
  background-color: #F0ECD6;
  padding-top: 10px;
}
.menu__title {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  color: #000000;
  margin: 0px;
  margin-bottom: 32px;
}
.menu__table {
  margin: 0 auto;
}
.menu__subtitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  text-align: start;
  padding-bottom: 16px;
  padding-top: 16px;
}
.menu__dish {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  letter-spacing: 0.02em;
  max-width: 225px;
  padding-bottom: 4px;
}
.menu__weight {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  letter-spacing: 0.02em;
  padding-left: 32px;
  padding-bottom: 8px;
  width: 84px;
}
.menu__price {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: #000000;
  letter-spacing: 0.02em;
  padding-left: 32px;
  padding-bottom: 8px;
}
.menu__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 0.02em;
  max-width: 225px;
  padding-bottom: 8px;
}
.menu__wrapper {
  margin-bottom: 32px;
}
.menu__box-button {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__button {
  margin: 0 auto;
  display: block;
  max-width: 236px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #F3C653;
  letter-spacing: 0.02em;
  padding: 15px 24px 14px;
  background-color: #000000;
  border-radius: 25px;
}/*# sourceMappingURL=index.css.map */