<section class="amenities">
  <div class="container">
    <h2 class="amenities-title">Зручності у номері</h2>
    <p class="amenities-title__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
      officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul class="amenities-list">
      <li>
        <h3 class="amenities-list__subtitle">Загальні</h3>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li>
        <h3 class="amenities-list__subtitle">Ванна кімната</h3>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li>
        <h3 class="amenities-list__subtitle">Спальня</h3>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li>
        <h3 class="amenities-list__subtitle">Кухня</h3>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li>
        <h3 class="amenities-list__subtitle">Медіа</h3>
        <p class="ameniries-list__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit.</p>
      </li>
    </ul>
    <button class="amenities-button" type="button">Оформити бронювання</button>
    <button class="amenities-button" type="button">Повернутися до перегляду номерів
      <svg class="amenities-icon" width="22" height="13">
        <use href="/src/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>