<section class="amenities">
  <div class="container container__decor">
    <h2 class="amenities-title amenities-title_margin container__decor-second">
      Зручності у номері
    </h2>
    <p class="amenities__descr amenities-titlel__descr amenities__descr_margin">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-list">
      <li>
        <h3
          class="amenities-list__title amenities-title_margin title-font-family"
        >
          Загальні
        </h3>
        <div class="amenities-list_flex">
          <p class="amenities__descr amenities__descr_width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__descr amenities__descr_width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3
          class="amenities-list__title amenities-title_margin title-font-family"
        >
          Ванна кімната
        </h3>
        <div class="amenities-list_flex amenities-list_flex-gap">
          <p class="amenities__descr amenities__descr_bigest-width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__descr amenities__descr_width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3
          class="amenities-list__title amenities-title_margin title-font-family"
        >
          Спальня
        </h3>
        <p
          class="amenities__descr amenities__descr_width amenities__descr_margin"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <h3
          class="amenities-list__title amenities-title_margin title-font-family"
        >
          Кухня
        </h3>
        <div class="amenities-list_flex">
          <p class="amenities__descr amenities__descr_width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities__descr amenities__descr_width">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li>
        <h3
          class="amenities-list__title amenities-title_margin title-font-family"
        >
          Медіа
        </h3>
        <p
          class="amenities__descr amenities__descr_width amenities__descr_margin amenities__descr_tablet-margin"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="amenities-button-flex">
      <button
        class="button-reserve amenities-button amenities-button_margin"
        type="button"
      >
        Оформити бронювання
      </button>
      <button class="amenities-button-return" type="button">
        Повернутися до перегляду номерів
        <svg class="amenities-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
