<section class="amenities">
  <div class="container">
    <h2 class="amenities-title amenities-title_margin">Зручності у номері</h2>
    <p class="amenities__descr amenities__descr_margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
      amet sint. Velit
      officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul class="amenities-list">
      <li>
        <h3 class="amenities-list__title amenities-title_margin title-font-family">Загальні</h3>
        <div class="amenities-list_flex">
          <p class="amenities__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <p class="amenities__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
      </li>
      <li>
        <h3 class="amenities-list__title amenities-title_margin title-font-family">Ванна кімната</h3>
        <div class="amenities-list_flex">
          <p class="amenities__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <p class="amenities__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
      </li>
      <li>
        <h3 class="amenities-list__title amenities-title_margin title-font-family">Спальня</h3>
        <p class="amenities__descr amenities__descr_margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor
          do amet sint.</p>
      </li>
      <li>
        <h3 class="amenities-list__title amenities-title_margin title-font-family">Кухня</h3>
        <div class="amenities-list_flex">
          <p class="amenities__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
          <p class="amenities__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </div>
      </li>
      <li>
        <h3 class="amenities-list__title amenities-title_margin title-font-family">Медіа</h3>
        <p class="amenities__descr amenities__descr_margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor
          do amet sint. Velit
          officia consequat duis enim
          velit
          mollit.</p>
      </li>
    </ul>
    <button class="amenities-button amenities-button_margin" type="button">Оформити бронювання</button>
    <button class="amenities-button-return" type="button">Повернутися до перегляду номерів
      <svg class="amenities-icon" width="24" height="24">
        <use href="/src/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>