<section class="contacts">
  <div class="contacts__container container">
    <span class="lines"></span>
    <div>
      <h2 class="visually-hidden">Контакти</h2>
      <p class="contacts__brand brand">MIMIHO</p>
      <p class="contacts__subtitle">Ресторанно-готельний комплекс</p>
      <ul class="contacts__list">
        <li class="contacts__item">
          <p class="contacts__department">Ресторан</p>
          <div class="contacts__box">
            <a class="contacts__number" href="tel:+380955559533">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contacts__item">
          <p class="contacts__department">Готель</p>
          <div class="contacts__box">
            <a class="contacts__number" href="tel:+380668491089">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              066 849 10 89
            </a>
            <a
              class="contacts__number contacts__number-second"
              href="tel:+380672758540"
            >
              067 275 85 40
            </a>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__address">
            <svg class="contacts__icons" width="24" height="24">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <a class="contacts__link" href=""
              >Україна, м. Полтава, вул. Маршала Бірюзова, 15
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contacts__box-map">
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18778.85051753445!2d34.5381000979462!3d49.58888405764706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e5a6576a0d%3A0xcdfded8b7b40ec91!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e1!3m2!1suk!2sua!4v1670094364128!5m2!1suk!2sua"
        width="600"
        height="450"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
