<section class="contacts">
  <h2 class="visually-hidden">Контакти</h2>
  <div class="brant"></div>
  <p>Ресторанно-готельний комплекс</p>
  <ul>
    <li>
      <p class="">Ресторан</p>
      <a class="" href="tel:095 555 95 33"
        ><svg class="" width="24" height="24">
          <use href="../images/icons.svg#icon-phone"></use></svg
        >095 555 95 33</a
      >
    </li>
    <li>
      <p class="">Готель</p>
      <a class="" href="tel:066 849 10 89"
        ><svg class="" width="24" height="24">
          <use href="../images/icons.svg#icon-phone"></use></svg
        >066 849 10 89</a
      >
      <a class="" href="tel:067 275 85 40">067 275 85 40</a>
    </li>
    <li>
      <a class="" href=""
        ><svg class="" width="24" height="24">
          <use href="../images/icons.svg#icon-location-pin"></use></svg
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </li>
  </ul>
  <div></div>
</section>
