<header class="header">
  <div class="container header--container">
    <nav class="nav-header">
      <a title="Головна" href="./index.html" class="nav-header__logo"
        ><img
          class="picture nav-header__picture"
          src="./images/logo.svg"
          alt="logo"
          width="114"
          height="39"
      /></a>
      <ul class="nav-header__list list">
        <li class="nav-header__item">
          <a title="Ресторан" href="./restaurant.html" class="nav-header__link"
            >Ресторан
          </a>

          <div class="nav-header__wrapper">
            <a
              title="Натисніть, щоб зателефонувати в ресторан"
              href="tel:+38095 555 95 33"
              class="nav-header__phone-link"
              ><svg class="nav-header__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span class="nav-header__phone-text">095 555 95 33</span>
            </a>
          </div>
        </li>
        <li class="nav-header__item">
          <a title="Готель" href="./hotel.html" class="nav-header__link"
            >Готель
          </a>
          <div class="nav-header__wrapper">
            <a
              title="Натисніть, щоб зателефонувати в готель"
              href="tel:+38066 849 10 89"
              class="nav-header__phone-link"
              ><svg class="nav-header__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span class="nav-header__phone-text">066 849 10 89</span>
            </a>
            <a href="tel:+38067 275 85 40" class="nav-header__phone-link">
              <span class="nav-header__phone-text">067 275 85 40</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="social">
      <li>
        <a href="https://www.instagram.com/" target="”_blank”">
          <svg class="social__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/" target="”_blank”">
          <svg class="social__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.telegram.com/" target="_blank">
          <svg class="social__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
