<section
  class="hotel-details hotel-details__canvas item-scroll"
  data-slider="details"
>
  <div class="container">
    <span class="lines"></span>
    <div class="hotel-details__container">
      <span class="brand hotel-details__brand">Mimiho</span>
      <h2 class="hotel-details__title">Готель</h2>
      <p class="text hotel-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>

      <div class="wrapper-mask">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <!-- Зображення 1 -->
            <div class="swiper-slide hotel-details__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk.webp    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@2x.webp 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@3x.webp 3x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab.webp    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@2x.webp 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@3x.webp 3x
                  "
                  type="image/webp"
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob.webp    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@2x.webp 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@3x.webp 3x
                  "
                  type="image/webp"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk.jpg    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@3x.jpg 3x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab.jpg    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@3x.jpg 3x
                  "
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob.jpg    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@3x.jpg 3x
                  "
                  media="(max-width: 1023px)"
                />
                <img
                src="./images/swiper/home/hotel-details/desktop/slider-1-desk.jpg"
                alt= «кімната з ліжком»
              </picture>
            </div>
            <!-- Зображення 3 -->
            <div class="swiper-slide hotel-details__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk.webp    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@2x.webp 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@3x.webp 3x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab.webp    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@2x.webp 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@3x.webp 3x
                  "
                  type="image/webp"
                  media="(max-width: 1279px)"
                />
                <!-- <source
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob.webp    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@2x.webp 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@3x.webp 3x
                  "
                  type="image/webp"
                  media="(max-width: 1023px)"
                /> -->
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk.jpg    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@3x.jpg 3x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab.jpg    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@3x.jpg 3x
                  "
                  media="(max-width: 1279px)"
                />
                <!-- <source
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob.jpg    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@3x.jpg 3x
                  "
                  media="(max-width: 1023px)"
                /> -->
                <img
                src="./images/swiper/home/hotel-details/desktop/slider-3-desk.jpg"
                alt= «кімната з ліжком»
              </picture>
            </div>

            <!-- Зображення 2 -->
            <div class="swiper-slide hotel-details__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk.webp    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@2x.webp 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@3x.webp 3x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab.webp    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@2x.webp 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@3x.webp 3x
                  "
                  type="image/webp"
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob.webp    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@2x.webp 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@3x.webp 3x
                  "
                  type="image/webp"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk.jpg    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@3x.jpg 3x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab.jpg    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@3x.jpg 3x
                  "
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob.jpg    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@3x.jpg 3x
                  "
                  media="(max-width: 1023px)"
                />
                <img
                src="./images/swiper/home/hotel-details/desktop/slider-2-desk.jpg"
                alt= «кімната з ліжком»
              </picture>
            </div>
          </div>
        </div>

        <!-- <div class="swiper-button-prev"></div> -->
        <div class="swiper-button-prev hotel-details__swiper--arrow">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <!-- <div class="swiper-button-next"></div> -->
        <div class="swiper-button-next hotel-details__swiper--arrow">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>

      <div class="btn-box">
        <button
          class="button hotel-details__button hotel-details__button--first popup-link"
          data-popup="popup1"
          type="button"
        >
          Забронювати номер
        </button>
        <button
          class="button hotel-details__button popup-link"
          data-popup="popup2"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
