<section class="hotel-about" data-slider="slider">
  <div class="vertical-lines"></div>
  <div class="conteiner-hotel-about container">
    <h2 class="visually-hidden">hotel-about</h2>
    <h3 class="tagline hotel-about__title" lang="en">Amet minim mollit non</h3>
    <span class="brand hotel-about__logo" lang="en">MIMIHO</span>
    <article class="hotel-about-article-one">
      <p class="hotel-about-article-one__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="hotel-about-article-one__img">
        <!-- <picture>
          <source
            srcset="
              ./images/swiper/home/hotel-about/room-photo1-desktop@1x.jpg 1x,
              ./images/swiper/home/hotel-about/room-photo1-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/swiper/home/hotel-about/room-photo1-mobile@1x.jpg 1x,
              ./images/swiper/home/hotel-about/room-photo1-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/swiper/home/hotel-about/room-photo1-tablet@1x.jpg 1x,
              ./images/swiper/home/hotel-about/room-photo1-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            src="./images/swiper/home/hotel-about/room-photo1-mobile@1x.jpg"
            alt="Кімната готелю з двоспальним ліжком"
          />
        </picture> -->
      </div>
    </article>
    <article class="hotel-about-article-two">
      <p class="hotel-about-article-two__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="hotel-about-article-two__img">
        <!-- <picture>
          <source
            srcset="
              ./images/swiper/home/hotel-about/room-photo2-desktop@1x.jpg 1x,
              ./images/swiper/home/hotel-about/room-photo2-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/swiper/home/hotel-about/room-photo2-mobile@1x.jpg 1x,
              ./images/swiper/home/hotel-about/room-photo2-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/swiper/home/hotel-about/room-photo2-tablet@1x.jpg 1x,
              ./images/swiper/home/hotel-about/room-photo2-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            src="./images/swiper/home/hotel-about/room-photo2-mobile@1x.jpg"
            alt="Хол готелю з каміном"
          />
        </picture> -->
      </div>
    </article>
    <div
      class="container-swiper container-swiper--right container-swiper--positioned"
    >
      <div class="wrapper-mask">
        <div class="swiper swiper--modified mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide--modified">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo1-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo1-mobdesk@1x.jpg 1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo1-tablet@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo1-tablet@1x.jpg 1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo1-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo1-mobdesk@1x.jpg 1x
                  "
                />
                <img
                  class="image"
                  src="./images/swiper/home/hotel-about/slider-photo1-mobdesk@1x.jpg"
                  alt="картинка1"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide--modified">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo2-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo2-mobdesk@1x.jpg 1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo2-tablet@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo2-tablet@1x.jpg 1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo2-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo2-mobdesk@1x.jpg 1x
                  "
                />
                <img
                  class="image"
                  src="./images/swiper/home/hotel-about/slider-photo2-mobdesk@1x.jpg"
                  alt="картинка2"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide--modified">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo3-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo3-mobdesk@1x.jpg 1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo3-tablet@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo3-tablet@1x.jpg 1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo3-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo3-mobdesk@1x.jpg 1x
                  "
                />
                <img
                  class="image"
                  src="./images/swiper/home/hotel-about/slider-photo3-mobdesk@1x.jpg"
                  alt="картинка3"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide--modified">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo4-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo4-mobdesk@1x.jpg 1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo4-tablet@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo4-tablet@1x.jpg 1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo4-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo4-mobdesk@1x.jpg 1x
                  "
                />
                <img
                  class="image"
                  src="./images/swiper/home/hotel-about/slider-photo4-mobdesk@1x.jpg"
                  alt="картинка4"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide--modified">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo5-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo5-mobdesk@1x.jpg 1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo5-tablet@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo5-tablet@1x.jpg 1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-about/slider-photo5-mobdesk@2x.jpg 2x,
                    ./images/swiper/home/hotel-about/slider-photo5-mobdesk@1x.jpg 1x
                  "
                />
                <img
                  class="image"
                  src="./images/swiper/home/hotel-about/slider-photo5-mobdesk@1x.jpg"
                  alt="картинка5"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-prev--positioned"></div>
        <div class="swiper-button-next swiper-button-next--positioned"></div>
      </div>
    </div>
  </div>
</section>
