<section class="hotel-details hotel-details__canvas" data-slider="details">
  <div class="container">
    <span class="lines"></span>
    <div class="hotel-details__container">
      <span class="brand hotel-details__brand">Mimiho</span>
      <h2 class="hotel-details__title">Готель</h2>
      <p class="text hotel-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>

      <div class="wrapper-mask detailsSliders">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <!-- Зображення 3 -->
            <div class="swiper-slide home-details__swiper-slide">
              <!-- <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <img
                  class="image hotel-details__slide--img"
                  src="./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg"
                  alt="картинка3"
                />
              </picture> -->
            </div>
            <!-- Зображення 2 -->
            <div class="swiper-slide home-details__swiper-slide">
              <!-- <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg   1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <img
                  class="image hotel-details__slide--img"
                  src="./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg"
                  alt="картинка2"
                />
              </picture> -->
            </div>
            <!-- Зображення 1 -->
            <div class="swiper-slide home-details__swiper-slide">
              <!-- <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3-2x.jpg 2x,
                  ./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg    1x
                  "
                />
                <img
                  class="image hotel-details__slide--img"
                  src="./images/swiper/home/hotel-details/mobile/hotel-details-slide3.jpg"
                  alt="картинка1"
                />
              </picture> -->
            </div>
          </div>
        </div>

        <!-- <div class="swiper-button-prev"></div> -->
        <div class="swiper-button-prev">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <!-- <div class="swiper-button-next"></div> -->
        <div class="swiper-button-next">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>

      <div class="btn-box">
        <button
          class="button hotel-details__button hotel-details__button--first popup-link"
          data-popup="popup1"
          type="button"
        >
          Забронювати номер
        </button>
        <button
          class="button hotel-details__button popup-link"
          data-popup="popup2"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
  <span class="lines"></span>
</section>
