<section class="hotel-details">
  <div class="container hotel-details__container">
    <span class="brand hotel-details__brand">Mimiho</span>
    <h2 class="hotel-details__title">Готель</h2>
    <p class="text hotel-details__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="btn-box">
      <button
        class="button hotel-details__button hotel-details__button--first"
        type="button"
      >
        Забронювати номер
      </button>
      <button class="button hotel-details__button" type="button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
