<section class="hotel-about">

    <div class="conteiner-hotel-about">

        <h2 class="visually-hidden">hotel-about</h2>

        <h3 class="hotel-about__title">Amet minim mollit non</h3>

        <span class="hotel-about__logo">mimino</span>

        <article class="hotel-about-article-one">
            <p class="hotel-about-article-one__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="hotel-about-article-one__img">
                <picture>
                    <source srcset="./images/hotel-about/room-photo1-desktop@1x.jpg 1x, ./images/hotel-about/room-photo1-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/hotel-about/room-photo1-mobile@1x.jpg 1x, ./images/hotel-about/room-photo1-mobile@2x.jpg 2x" media="(max-width: 1023px)">
                    <source srcset="./images/hotel-about/room-photo1-tablet@1x.jpg 1x, ./images/hotel-about/room-photo1-tablet@2x.jpg 2x" media="(min-width: 1024px)">
                    <img src="./images/hotel-about/room-photo1-mobile@1x.jpg" alt="Кімната готелю з двоспальним ліжком">
                </picture>
            </div>
        </article>

        <article class="hotel-about-article-two">
            <p class="hotel-about-article-two__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="hotel-about-article-two__img">
                <picture>
                    <source srcset="./images/hotel-about/room-photo2-desktop@1x.jpg 1x, ./images/hotel-about/room-photo2-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/hotel-about/room-photo2-mobile@1x.jpg 1x, ./images/hotel-about/room-photo2-mobile@2x.jpg 2x" media="(max-width: 1023px)">
                    <source srcset="./images/hotel-about/room-photo2-tablet@1x.jpg 1x, ./images/hotel-about/room-photo2-tablet@2x.jpg 2x" media="(min-width: 1024px)">
                    <img src="./images/hotel-about/room-photo2-mobile@1x.jpg" alt="Хол готелю з каміном">
                </picture> 
            </div>
        </article>

        <div class="container-swiper container-swiper--right swiper-position">
            <div class="wrapper-mask">
                <div
                    class="mySwiper swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-9392aeb1ef1047f8e" aria-live="polite"
                        style="transform: translate3d(-712.5px, 0px, 0px); transition-duration: 0ms;">

                        <div class="swiper-slide" role="group" aria-label="1 / 4" style="width: 245px; margin-right: 40px;">
                            <picture>
                                <!-- <source media="(min-width: 1280px)" srcset="/mimino-project/test1-desktop@2x.64338d2f.webp 2x, /mimino-project/test1-desktop@1x.d13131dd.webp 1x" type="image/webp"> -->
                                <source media="(min-width: 1280px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo1-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo1-mobdesk@1x.jpg 1x">
                                <source media="(min-width: 1024px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo1-tablet@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo1-tablet@1x.jpg 1x">
                                <source media="(max-width: 1023px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo1-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo1-mobdesk@1x.jpg 1x">
                                <img class="image" src="./images/hotel-about/hotel-about-slider/slider-photo1-mobdesk@1x.jpg" alt="картинка1">
                            </picture>
                        </div>

                        <div class="swiper-slide" role="group" aria-label="2 / 4" style="width: 245px; margin-right: 40px;">
                            <picture>                                
                                <source media="(min-width: 1280px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo2-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo2-mobdesk@1x.jpg 1x">
                                <source media="(min-width: 1024px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo2-tablet@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo2-tablet@1x.jpg 1x">
                                <source media="(max-width: 1023px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo2-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo2-mobdesk@1x.jpg 1x">
                                <img class="image" src="./images/hotel-about/hotel-about-slider/slider-photo2-mobdesk@1x.jpg" alt="картинка1">
                            </picture>
                        </div>

                        <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 4"
                            style="width: 245px; margin-right: 40px;">
                            <picture>                            
                                <source media="(min-width: 1280px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo3-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo3-mobdesk@1x.jpg 1x">
                                <source media="(min-width: 1024px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo3-tablet@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo3-tablet@1x.jpg 1x">
                                <source media="(max-width: 1023px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo3-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo3-mobdesk@1x.jpg 1x">
                                <img class="image" src="./images/hotel-about/hotel-about-slider/slider-photo3-mobdesk@1x.jpg" alt="картинка1">
                            </picture>
                        </div>

                        <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 4"
                            style="width: 245px; margin-right: 40px;">
                            <picture>                        
                                <source media="(min-width: 1280px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo4-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo4-mobdesk@1x.jpg 1x">
                                <source media="(min-width: 1024px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo4-tablet@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo4-tablet@1x.jpg 1x">
                                <source media="(max-width: 1023px)" srcset="./images/hotel-about/hotel-about-slider/slider-photo4-mobdesk@2x.jpg 2x, ./images/hotel-about/hotel-about-slider/slider-photo4-mobdesk@1x.jpg 1x">
                                <img class="image" src="./images/hotel-about/hotel-about-slider/slider-photo4-mobdesk@1x.jpg" alt="картинка1">
                            </picture>
                        </div>

                    </div> <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>

                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
                    aria-controls="swiper-wrapper-9392aeb1ef1047f8e" aria-disabled="false"></div>
                <div class="swiper-button-next swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide"
                    aria-controls="swiper-wrapper-9392aeb1ef1047f8e" aria-disabled="true"></div>
                    
            </div>
        </div>
    </div>
</section>
