<section class="kitchen-about section section__content" data-slider="slider">
  <div class="container">
    <span class="lines"></span>
    <h2 class="visually-hidden" lang="en">About our kitchen</h2>
    <h3 class="tagline kitchen-about__title" lang="en">
      Amet minim mollit non
    </h3>
    <span class="brand kitchen-about__subtitle" lang="en">MIMIHO</span>
    <article class="kitchen-about__article">
      <p class="text kitchen-about__text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="kitchen-about__article-img-one">
        <!-- <img
          srcset="
            ./images/swiper/restaurant-details/kitchen-photo1-mobile-1x.jpg  244w,
            ./images/swiper/restaurant-details/kitchen-photo1-mobile-2x.jpg  488w,
            ./images/swiper/restaurant-details/kitchen-photo1-tablet-1x.jpg  400w,
            ./images/swiper/restaurant-details/kitchen-photo1-tablet-2x.jpg  800w,
            ./images/swiper/restaurant-details/kitchen-photo1-desktop-1x.jpg 460w,
            ./images/swiper/restaurant-details/kitchen-photo1-desktop-2x.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 1023px) 244px, 100vw"
          src="./images/swiper/restaurant-details/kitchen-photo1-mobile-1x.jpg"
          alt="Cooking"
        /> -->
      </div>
    </article>
    <article class="kitchen-about__article-img-two">
      <div class="kitchen-about__food">
        <!-- <img
          srcset="
            ./images/swiper/restaurant-details/kitchen-photo2-mobile-1x.jpg  200w,
            ./images/swiper/restaurant-details/kitchen-photo2-mobile-2x.jpg  400w,
            ./images/swiper/restaurant-details/kitchen-photo2-tablet-1x.jpg  350w,
            ./images/swiper/restaurant-details/kitchen-photo2-tablet-2x.jpg  700w,
            ./images/swiper/restaurant-details/kitchen-photo2-desktop-1x.jpg 460w,
            ./images/swiper/restaurant-details/kitchen-photo2-desktop-2x.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (max-width: 1023px) 200px, 100vw"
          src="./images/swiper/restaurant-details/kitchen-photo2-mobile-1x.jpg"
          alt="meat"
        /> -->
      </div>
      <p class="kitchen-about__text-food">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </article>
  </div>
  <div class="container-swiper">
    <div class="wrapper-mask">
      <div class="swiper mySwiper swiper--kitchen">
        <ul class="swiper-wrapper swiper-wrapper--kitchen">
          <li class="swiper-slide swiper-slide--kitchen">
            <!-- <img
              srcset="
                ./images/swiper/home/restaurant-details/kitchen2-desktop-1x.jpg 245w,
                ./images/swiper/home/restaurant-details/kitchen2-desktop-2x.jpg 490w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-1x.jpg  194w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-2x.jpg  388w
              "
              sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, (max-width: 1023px) 245px, 100vw"
              src="./images/swiper/home/restaurant-details/kitchen2-mobile-1x.jpg.jpg"
              alt="dough preparation"
            /> -->
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <!-- <img
              srcset="
                ./images/swiper/home/restaurant-details/kitchen2-desktop-1x.jpg 245w,
                ./images/swiper/home/restaurant-details/kitchen2-desktop-2x.jpg 490w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-1x.jpg  194w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-2x.jpg  388w
              "
              sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, (max-width: 1023px) 245px, 100vw"
              src="./images/swiper/home/restaurant-details/kitchen2-mobile-1x.jpg.jpg"
              alt="Khinkali"
            /> -->
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <!-- <img
              srcset="
                ./images/swiper/home/restaurant-details/kitchen2-desktop-1x.jpg 245w,
                ./images/swiper/home/restaurant-details/kitchen2-desktop-2x.jpg 490w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-1x.jpg  194w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-2x.jpg  388w
              "
              sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, (max-width: 1023px) 245px, 100vw"
              src="./images/swiper/home/restaurant-details/kitchen2-mobile-1x.jpg"
              alt="dough preparation"
            /> -->
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <!-- <img
              srcset="
                ./images/swiper/home/restaurant-details/kitchen2-desktop-1x.jpg.jpg 245w,
                ./images/swiper/home/restaurant-details/kitchen2-desktop-2x.jpg     490w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-1x.jpg      194w,
                ./images/swiper/home/restaurant-details/kitchen2-tablet-2x.jpg      388w
              "
              sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, (max-width: 1023px) 245px, 100vw"
              src="./images/swiper/home/restaurant-details/kitchen2-mobile-1x.jpg"
              alt="Khinkali"
            /> -->
          </li>
        </ul>
        <div class="swiper-buttoms swiper-buttoms--kitchen">
          <button
            type="button"
            class="swiper-button-prev swiper-button-prev--kitchen"
          ></button>
          <button
            type="button"
            class="swiper-button-next swiper-button-next--kitchen"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
