<section class="kitchen-about section section__content" data-slider="slider">
  <div class="container">
    <span class="lines lines--kitchen"></span>
    <h2 class="visually-hidden" lang="en">About our kitchen</h2>
    <h3 class="tagline tagline--kitchen-about" lang="en">
      Amet minim mollit non
    </h3>
    <span class="brand" lang="en">MIMIHO</span>
    <article class="kitchen-about__article">
      <p class="text kitchen-about__text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="kitchen-about__article-img-one">
        <picture>
          <source srcset="./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk.webp 1x, ./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk@2x.webp 2x, ./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk@3x.webp 3x" type="image/webp"
          media="(min-width: 1280px)">
          <source srcset="./images/restaurant/kitchen-about/mobile/restaurant-interior-2-mob.webp 1x, ./images/restaurant/kitchen-about/mobile/restaurant-interior-2-mob@2x.webp 2x, ./images/restaurant/kitchen-about/mobile/restaurant-interior-2-mob@3x.webp 3x" type="image/webp" 
          media="(max-width: 1023px)"> 
          <source srcset="./images/restaurant/kitchen-about/tablet/restaurant-interior-2-tab.webp 1x, ./images/restaurant/kitchen-about/tablet/restaurant-interior-2-tab@2x.webp 2x, ./images/restaurant/kitchen-about/tablet/restaurant-interior-2-tab@3x.webp 3x" type="image/webp"
          media="(max-width: 1279px)">
          <source srcset="./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk.jpg 1x, ./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk@2x.jpg 2x, ./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk@3x.jpg 3x" media="(min-width: 1280px)">
          <source srcset="./images/restaurant/kitchen-about/mobile/restaurant-interior-2-mob.jpg 1x, ./images/restaurant/kitchen-about/mobile/restaurant-interior-2-mob@2x.jpg 2x, ./images/restaurant/kitchen-about/mobile/restaurant-interior-2-mob@3x.jpg 3x" media="(max-width: 1023px)">
          <source srcset="./images/restaurant/kitchen-about/tablet/restaurant-interior-2-tab.jpg 1x, ./images/restaurant/kitchen-about/tablet/restaurant-interior-2-tab@2x.jpg 2x, ./images/restaurant/kitchen-about/tablet/restaurant-interior-2-tab@3x.jpg 3x" media="(max-width: 1279px)">
          <img loading="lazy" src="./images/restaurant/kitchen-about/desktop/restaurant-interior-2-desk.jpg" alt="Frying in a pan">
</picture>
       
      </div>
    </article>
    <article class="kitchen-about__article-img-two">
      <div class="kitchen-about__food">
        <picture>
          <source srcset="./images/restaurant/kitchen-about/desktop/cooking-meat-desk.webp 1x, ./images/restaurant/kitchen-about/desktop/cooking-meat-desk@2x.webp 2x, ./images/restaurant/kitchen-about/desktop/cooking-meat-desk@3x.webp 3x" type="image/webp"
          media="(min-width: 1280px)">
          <source srcset="./images/restaurant/kitchen-about/mobile/cooking-meat-mob.webp 1x, ./images/restaurant/kitchen-about/mobile/cooking-meat-mob@2x.webp 2x, ./images/restaurant/kitchen-about/mobile/cooking-meat-mob@3x.webp 3x" type="image/webp" 
          media="(max-width: 1023px)"> 
          <source srcset="./images/restaurant/kitchen-about/tablet/cooking-meat-tab.webp 1x, ./images/restaurant/kitchen-about/tablet/cooking-meat-tab@2x.webp 2x, ./images/restaurant/kitchen-about/tablet/cooking-meat-tab@3x.webp 3x" type="image/webp"
          media="(max-width: 1279px)">
          <source srcset="./images/restaurant/kitchen-about/desktop/cooking-meat-desk.jpg 1x, ./images/restaurant/kitchen-about/desktop/cooking-meat-desk@2x.jpg 2x, ./images/restaurant/kitchen-about/desktop/cooking-meat-desk@3x.jpg 3x" media="(min-width: 1280px)">
          <source srcset="./images/restaurant/kitchen-about/mobile/cooking-meat-mob.jpg 1x, ./images/restaurant/kitchen-about/mobile/cooking-meat-mob@2x.jpg 2x, ./images/restaurant/kitchen-about/mobile/cooking-meat-mob@3x.jpg 3x" media="(max-width: 1023px)">
          <source srcset="./images/restaurant/kitchen-about/tablet/cooking-meat-tab.jpg 1x, ./images/restaurant/kitchen-about/tablet/cooking-meat-tab@2x.jpg 2x, ./images/restaurant/kitchen-about/tablet/cooking-meat-tab@3x.jpg 3x" media="(max-width: 1279px)">
          <img loading="lazy" src="./images/restaurant/kitchen-about/desktop/cooking-meat-desk.jpg" alt="Meat">
</picture>
      </div>
      <p class="kitchen-about__text-food">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </article>
    
  </div>
  <div class="wrapper-swiper">
    <div class="container-swiper container-swiper--right">
      <div class="wrapper-mask">
        <div class="swiper mySwiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide swiper-slide--kitchen">
            <picture>
              <source srcset="./images/swiper/restaurant/desktop/slider-1-desk.webp 1x, ./images/swiper/restaurant/desktop/slider-1-desk@2x.webp 2x, ./images/swiper/restaurant/desktop/slider-1-desk@3x.webp 3x" type="image/webp"
              media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-1-mob.webp 1x, ./images/swiper/restaurant/mobile/slider-1-mob@2x.webp 2x, ./images/swiper/restaurant/mobile/slider-1-mob@3x.webp 3x" type="image/webp" 
              media="(max-width: 1023px)"> 
              <source srcset="./images/swiper/restaurant/tablet/slider-1-tab.webp 1x, ./images/swiper/restaurant/tablet/slider-1-tab@2x.webp 2x, ./images/swiper/restaurant/tablet/slider-1-tab@3x.webp 3x" type="image/webp" 
              media="(max-width: 1279px)">
              <source srcset="./images/swiper/restaurant/desktop/slider-1-desk.jpg 1x, ./images/swiper/restaurant/desktop/slider-1-desk@2x.jpg 2x, ./images/swiper/restaurant/desktop/slider-1-desk@3x.jpg 3x" media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-1-mob.jpg 1x, ./images/swiper/restaurant/mobile/slider-1-mob@2x.jpg 2x, ./images/swiper/restaurant/mobile/slider-1-mob@3x.jpg 3x" media="(max-width: 1023px)">
              <source srcset="./images/swiper/restaurant/tablet/slider-1-tab.jpg 1x, ./images/swiper/restaurant/tablet/slider-1-tab@2x.jpg 2x, ./images/swiper/restaurant/tablet/slider-1-tab@3x.jpg 3x" media="(max-width: 1279px)">
              <img loading="lazy" src="./images/swiper/restaurant/desktop/slider-1-desk.jpg" alt="Dough preparation">
    </picture>
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <picture>
              <source srcset="./images/swiper/restaurant/desktop/slider-2-desk.webp 1x, ./images/swiper/restaurant/desktop/slider-2-desk@2x.webp 2x, ./images/swiper/restaurant/desktop/slider-2-desk@3x.webp 3x" type="image/webp"
              media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-2-mob.webp 1x, ./images/swiper/restaurant/mobile/slider-2-mob@2x.webp 2x, ./images/swiper/restaurant/mobile/slider-2-mob@3x.webp 3x" type="image/webp" 
              media="(max-width: 1023px)"> 
              <source srcset="./images/swiper/restaurant/tablet/slider-2-tab.webp 1x, ./images/swiper/restaurant/tablet/slider-2-tab@2x.webp 2x, ./images/swiper/restaurant/tablet/slider-2-tab@3x.webp 3x" type="image/webp" 
              media="(max-width: 1279px)">
              <source srcset="./images/swiper/restaurant/desktop/slider-2-desk.jpg 1x, ./images/swiper/restaurant/desktop/slider-2-desk@2x.jpg 2x, ./images/swiper/restaurant/desktop/slider-2-desk@3x.jpg 3x" media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-2-mob.jpg 1x, ./images/swiper/restaurant/mobile/slider-2-mob@2x.jpg 2x, ./images/swiper/restaurant/mobile/slider-2-mob@3x.jpg 3x" media="(max-width: 1023px)">
              <source srcset="./images/swiper/restaurant/tablet/slider-2-tab.jpg 1x, ./images/swiper/restaurant/tablet/slider-2-tab@2x.jpg 2x, ./images/swiper/restaurant/tablet/slider-2-tab@3x.jpg 3x" media="(max-width: 1279px)">
              <img loading="lazy" src="./images/swiper/restaurant/desktop/slider-2-desk.jpg" alt="Khinkali">
    </picture>
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <picture>
              <source srcset="./images/swiper/restaurant/desktop/slider-3-desk.webp 1x, ./images/swiper/restaurant/desktop/slider-3-desk@2x.webp 2x, ./images/swiper/restaurant/desktop/slider-3-desk@3x.webp 3x" type="image/webp"
              media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-3-mob.webp 1x, ./images/swiper/restaurant/mobile/slider-3-mob@2x.webp 2x, ./images/swiper/restaurant/mobile/slider-3-mob@3x.webp 3x" type="image/webp" 
              media="(max-width: 1023px)"> 
              <source srcset="./images/swiper/restaurant/tablet/slider-3-tab.webp 1x, ./images/swiper/restaurant/tablet/slider-3-tab@2x.webp 2x, ./images/swiper/restaurant/tablet/slider-3-tab@3x.webp 3x" type="image/webp" 
              media="(max-width: 1279px)">
              <source srcset="./images/swiper/restaurant/desktop/slider-3-desk.jpg 1x, ./images/swiper/restaurant/desktop/slider-3-desk@2x.jpg 2x, ./images/swiper/restaurant/desktop/slider-3-desk@3x.jpg 3x" media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-3-mob.jpg 1x, ./images/swiper/restaurant/mobile/slider-3-mob@2x.jpg 2x, ./images/swiper/restaurant/mobile/slider-3-mob@3x.jpg 3x" media="(max-width: 1023px)">
              <source srcset="./images/swiper/restaurant/tablet/slider-3-tab.jpg 1x, ./images/swiper/restaurant/tablet/slider-3-tab@2x.jpg 2x, ./images/swiper/restaurant/tablet/slider-3-tab@3x.jpg 3x" media="(max-width: 1279px)">
              <img loading="lazy" src="./images/swiper/restaurant/desktop/slider-3-desk.jpg" alt="Juice, croissants">
    </picture>
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <picture>
              <source srcset="./images/swiper/restaurant/desktop/slider-4-desk.webp 1x, ./images/swiper/restaurant/desktop/slider-4-desk@2x.webp 2x, ./images/swiper/restaurant/desktop/slider-4-desk@3x.webp 3x" type="image/webp"
              media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-4-mob.webp 1x, ./images/swiper/restaurant/mobile/slider-4-mob@2x.webp 2x, ./images/swiper/restaurant/mobile/slider-4-mob@3x.webp 3x" type="image/webp" 
              media="(max-width: 1023px)"> 
              <source srcset="./images/swiper/restaurant/tablet/slider-4-tab.webp 1x, ./images/swiper/restaurant/tablet/slider-4-tab@2x.webp 2x, ./images/swiper/restaurant/tablet/slider-4-tab@3x.webp 3x" type="image/webp" 
              media="(max-width: 1279px)">
              <source srcset="./images/swiper/restaurant/desktop/slider-4-desk.jpg 1x, ./images/swiper/restaurant/desktop/slider-4-desk@2x.jpg 2x, ./images/swiper/restaurant/desktop/slider-4-desk@3x.jpg 3x" media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-4-mob.jpg 1x, ./images/swiper/restaurant/mobile/slider-4-mob@2x.jpg 2x, ./images/swiper/restaurant/mobile/slider-4-mob@3x.jpg 3x" media="(max-width: 1023px)">
              <source srcset="./images/swiper/restaurant/tablet/slider-4-tab.jpg 1x, ./images/swiper/restaurant/tablet/slider-4-tab@2x.jpg 2x, ./images/swiper/restaurant/tablet/slider-4-tab@3x.jpg 3x" media="(max-width: 1279px)">
              <img loading="lazy" src="./images/swiper/restaurant/desktop/slider-4-desk.jpg" alt="Brewing tea">
    </picture>
          </li>
          <li class="swiper-slide swiper-slide--kitchen">
            <picture>
              <source srcset="./images/swiper/restaurant/desktop/slider-5-desk.webp 1x, ./images/swiper/restaurant/desktop/slider-5-desk@2x.webp 2x, ./images/swiper/restaurant/desktop/slider-5-desk@3x.webp 3x" type="image/webp"
              media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-5-mob.webp 1x, ./images/swiper/restaurant/mobile/slider-5-mob@2x.webp 2x, ./images/swiper/restaurant/mobile/slider-5-mob@3x.webp 3x" type="image/webp" 
              media="(max-width: 1023px)"> 
              <source srcset="./images/swiper/restaurant/tablet/slider-5-tab.webp 1x, ./images/swiper/restaurant/tablet/slider-5-tab@2x.webp 2x, ./images/swiper/restaurant/tablet/slider-5-tab@3x.webp 3x" type="image/webp" 
              media="(max-width: 1279px)">
              <source srcset="./images/swiper/restaurant/desktop/slider-5-desk.jpg 1x, ./images/swiper/restaurant/desktop/slider-5-desk@2x.jpg 2x, ./images/swiper/restaurant/desktop/slider-5-desk@3x.jpg 3x" media="(min-width: 1280px)">
              <source srcset="./images/swiper/restaurant/mobile/slider-5-mob.jpg 1x, ./images/swiper/restaurant/mobile/slider-5-mob@2x.jpg 2x, ./images/swiper/restaurant/mobile/slider-5-mob@3x.jpg 3x" media="(max-width: 1023px)">
              <source srcset="./images/swiper/restaurant/tablet/slider-5-tab.jpg 1x, ./images/swiper/restaurant/tablet/slider-5-tab@2x.jpg 2x, ./images/swiper/restaurant/tablet/slider-5-tab@3x.jpg 3x" media="(max-width: 1279px)">
              <img loading="lazy" src="./images/swiper/restaurant/desktop/slider-5-desk.jpg" alt="Nuts with fruits">
    </picture>
          </li>
        </ul>
        <div class="swiper-buttoms swiper-buttoms--kitchen">
          <button
            type="button"
            class="swiper-button-prev swiper-button-prev--kitchen"
          >
          <svg class="icon-arrow-left" width="32px" height="32px">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </button>
          <button
            type="button"
            class="swiper-button-next swiper-button-next--kitchen"
          >
          <svg class="icon-arrow-right" width="32px" height="32px">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
