<section class="menufood">
  <div class="container">
    <span class="lines"></span>
    <h2 class="menufood__title">меню ресторану</h2>

    <div class="menufood__wrapper">
      <div class="menufood__prymary-dishes">
        <table class="menufood__table">
          <tr>
            <th
              colspan="3"
              class="menufood__subtitle menufood__subtitle-padding"
            >
              Гарячі страви
            </th>
          </tr>
          <tr>
            <td class="menufood__dish">
              Борщ з телятини з квасолею<span
                class="menufood__text menufood__text-margin"
                >Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана</span
              >
            </td>
            <td class="menufood__weight">400 г</td>
            <td class="menufood__price">240 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Суп сирний з куркою<span
                class="menufood__text menufood__text-margin"
                >Курятина, картопля, морква, цибуля, печериці, сир м’який,
                зелень</span
              >
            </td>
            <td class="menufood__weight">400 г</td>
            <td class="menufood__price">200 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Паста карбонара<span class="menufood__text menufood__text-margin"
                >Паста тальятеле, бекон, вершки, сир пармезан, яйце,
                зелень</span
              >
            </td>
            <td class="menufood__weight">350 г</td>
            <td class="menufood__price">430 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Стейк зі свинини<span class="menufood__text menufood__text-margin"
                >Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами</span
              >
            </td>
            <td class="menufood__weight">400 г</td>
            <td class="menufood__price">500 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Горбуша в соусі з білого вина<span
                class="menufood__text menufood__text-margin"
                >Ніжна горбуша, вершковий соус на основі білого вина</span
              >
            </td>
            <td class="menufood__weight">400 г</td>
            <td class="menufood__price">400 грн</td>
          </tr>
          <tr>
            <th colspan="3" class="menufood__subtitle">Гарніри та закуски</th>
          </tr>
          <tr>
            <td class="menufood__dish">
              Запечені овочі<span class="menufood__text menufood__text-margin"
                >Кабачок, перець, помідор, баклажан</span
              >
            </td>
            <td class="menufood__weight">200 г</td>
            <td class="menufood__price">230 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Картопля фрі<span class="menufood__text menufood__text-margin"
                >Картопля, соус томатний</span
              >
            </td>
            <td class="menufood__weight">150 г</td>
            <td class="menufood__price">160 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Картопля по-селянськи<span
                class="menufood__text menufood__text-margin"
                >Картопля, спеції, соус пікантний</span
              >
            </td>
            <td class="menufood__weight">150 г</td>
            <td class="menufood__price">160 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Хрумкі соління з бочки<span
                class="menufood__text menufood__text-margin"
                >Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські</span
              >
            </td>
            <td class="menufood__weight">250 г</td>
            <td class="menufood__price">350 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Крильця курячі в медовому соусі<span
                class="menufood__text menufood__text-margin"
                >Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз</span
              >
            </td>
            <td class="menufood__weight">400 г</td>
            <td class="menufood__price">420 грн</td>
          </tr>
        </table>
      </div>
      <div class="menufood__secondary-dishes">
        <table class="menufood__table">
          <tr>
            <th colspan="3" class="menufood__subtitle menufood__subtitle-salad">
              Салати
            </th>
          </tr>
          <tr>
            <td class="menufood__dish">
              Цезар з куркою<span class="menufood__text menufood__text-margin"
                >Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар</span
              >
            </td>
            <td class="menufood__weight">230 г</td>
            <td class="menufood__price">450 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Цезар з креветками<span
                class="menufood__text menufood__text-margin"
                >Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар</span
              >
            </td>
            <td class="menufood__weight">230 г</td>
            <td class="menufood__price">300 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              Грецький салат<span class="menufood__text menufood__text-margin"
                >Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус</span
              >
            </td>
            <td class="menufood__weight">230 г</td>
            <td class="menufood__price">280 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">
              М’ясний салат<span class="menufood__text menufood__text-margin"
                >Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч</span
              >
            </td>
            <td class="menufood__weight">230 г</td>
            <td class="menufood__price">300 грн</td>
          </tr>
          <tr>
            <th colspan="3" class="menufood__subtitle">Десерти</th>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">Торт наполеон</td>
            <td class="menufood__weight menufood__dish-padding">230 г</td>
            <td class="menufood__price menufood__dish-padding">300 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">Торт маковий</td>
            <td class="menufood__weight menufood__dish-padding">230 г</td>
            <td class="menufood__price menufood__dish-padding">300 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">Тірамісу</td>
            <td class="menufood__weight menufood__dish-padding">120 г</td>
            <td class="menufood__price menufood__dish-padding">260 грн</td>
          </tr>
          <tr>
            <th colspan="3" class="menufood__subtitle">Напої</th>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">
              Чай чорний/зелений
            </td>
            <td class="menufood__weight menufood__dish-padding">500 мл</td>
            <td class="menufood__price menufood__dish-padding">100 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">Еспресо</td>
            <td class="menufood__weight menufood__dish-padding">30 мл</td>
            <td class="menufood__price menufood__dish-padding">100 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">Американо</td>
            <td class="menufood__weight menufood__dish-padding">150 мл</td>
            <td class="menufood__price menufood__dish-padding">100 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish menufood__dish-padding">Капучино</td>
            <td class="menufood__weight menufood__dish-padding">200 мл</td>
            <td class="menufood__price menufood__dish-padding">160 грн</td>
          </tr>
          <tr>
            <td class="menufood__dish">Лате</td>
            <td class="menufood__weight">200 мл</td>
            <td class="menufood__price">160 грн</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="menufood__box-button">
      <button class="button menufood__button" type="button">
        <a href="" class="menufood__link">Забронювати столик</a>
      </button>
    </div>
  </div>
</section>
