<section class="menu">
  <div class="container">
    <h2 class="menu__title">меню ресторану</h2>
    <div class="menu__wrapper">
      <div class="menu__prymary-dishes">
        <table class="menu__table">
          <tr>
            <th colspan="3" class="menu__subtitle">Гарячі страви</th>
          </tr>
          <tr>
            <td class="menu__dish">Борщ з телятини з квасолею</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">240 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень,
              сметана
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Суп сирний з куркою</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">200 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Паста карбонара</td>
            <td rowspan="2" class="menu__weight">350 г</td>
            <td rowspan="2" class="menu__price">430 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Стейк зі свинини</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">500 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Горбуша в соусі з білого вина</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">400 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Ніжна горбуша, вершковий соус на основі білого вина
            </td>
          </tr>
          <tr>
            <th colspan="3" class="menu__subtitle">Гарніри та закуски</th>
          </tr>
          <tr>
            <td class="menu__dish">Запечені овочі</td>
            <td rowspan="2" class="menu__weight">200 г</td>
            <td rowspan="2" class="menu__price">230 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Кабачок, перець, помідор, баклажан
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Картопля фрі</td>
            <td rowspan="2" class="menu__weight">150 г</td>
            <td rowspan="2" class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Картопля, соус томатний
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Картопля по-селянськи</td>
            <td rowspan="2" class="menu__weight">150 г</td>
            <td rowspan="2" class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Картопля, спеції, соус пікантний
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Хрумкі соління з бочки</td>
            <td rowspan="2" class="menu__weight">250 г</td>
            <td rowspan="2" class="menu__price">350 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Огірок солений, помідор квашений, квашена капуста, морква по-корейські
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Крильця курячі в медовому соусі</td>
            <td rowspan="2" class="menu__weight">400 г</td>
            <td rowspan="2" class="menu__price">420 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз
            </td>
          </tr>
        </table>
      </div>
      <div class="menu__secondary-dishes">
        <table class="menu__table">
          <tr>
            <th colspan="3" class="menu__subtitle">Салати</th>
          </tr>
          <tr>
            <td class="menu__dish">Цезар з куркою</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">450 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Цезар з креветками</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu__dish">Грецький салат</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">280 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус
            </td>
          </tr>
          <tr>
            <td class="menu__dish">М’ясний салат</td>
            <td rowspan="2" class="menu__weight">230 г</td>
            <td rowspan="2" class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__text">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч
            </td>
          </tr>
          <tr>
            <th colspan="3" class="menu__subtitle">Десерти</th>
          </tr>
          <tr>
            <td class="menu__dish">Торт наполеон</td>
            <td class="menu__weight">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Торт маковий</td>
            <td class="menu__weight">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Тірамісу</td>
            <td class="menu__weight">120 г</td>
            <td class="menu__price">260 грн</td>
          </tr>
          <tr>
            <th colspan="3" class="menu__subtitle">Напої</th>
          </tr>
          <tr>
            <td class="menu__dish">Чай чорний/зелений</td>
            <td class="menu__weight">500 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Еспресо</td>
            <td class="menu__weight">30 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Американо</td>
            <td class="menu__weight">150 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Капучино</td>
            <td class="menu__weight">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__dish">Лате</td>
            <td class="menu__weight">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="menu_box-button">
      <a href="" class="menu__button link">Забронювати столик</a>
    </div>
  </div>
</section>