<div class="section-wrapper">
  <section class="restaurant-details" data-slider="details">
    <div class="container restaurant-details__container">
      <div class="restaurant-details__wrap-text">
        <p class="brand restaurant-details__brand" lang="en">MIMIHO</p>
        <h2 class="restaurant-details__title">Ресторан</h2>
        <p class="restaurant-details__text text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <div class="restaurant-details__wrap-flex">
        <div class="restaurant-details__wrap-swipe">
          <div>
            <div>
              <ul class="restaurant-details__list">
                <li class="restaurant-details__item">
                  <div>
                    <picture class="picture">
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/mobile/image1.jpg    1x,
                          ./images/swiper/home/restaurant-details/mobile/image1@2x.jpg 2x
                        "
                        media="(min-width: 414px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/tablet/image1.jpg    1x,
                          ./images/swiper/home/restaurant-details/tablet/image1@2x.jpg 2x
                        "
                        media="(min-width: 1024px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/mobile/image1.jpg    1x,
                          ./images/swiper/home/restaurant-details/mobile/image1@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="restaurant-details__img"
                        loading="lazy"
                        src="./images/swiper/home/restaurant-details/mobile/image1.jpg"
                        alt="смачний, соковитий стейк"
                        width="270"
                        height="270"
                      />
                    </picture>
                  </div>
                </li>
                <li class="restaurant-details__item">
                  <div class="swipe-slide">
                    <picture class="picture">
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/mobile/image2.jpg    1x,
                          ./images/swiper/home/restaurant-details/mobile/image2@2x.jpg 2x
                        "
                        media="(min-width: 414px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/tablet/image2.jpg    1x,
                          ./images/swiper/home/restaurant-details/tablet/image2@2x.jpg 2x
                        "
                        media="(min-width: 1024px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/desktop/image2.jpg    1x,
                          ./images/swiper/home/restaurant-details/desktop/image2@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="restaurant-details__img"
                        loading="lazy"
                        src="./images/swiper/home/restaurant-details/mobile/image2.jpg"
                        alt="смачний, соковитий шашлік на лаваші"
                        width="270"
                        height="270"
                      />
                    </picture>
                  </div>
                </li>
                <li class="restaurant-details__item">
                  <div class="swipe-slide">
                    <!-- <picture class="picture">
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/mobile/image1.jpg 1x,
                          ./images/swiper/home/restaurant-details/image1@2x.jpg     2x
                        "
                        media="(min-width: 414px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/tablet/image1.jpg    1x,
                          ./images/swiper/home/restaurant-details/tablet/image1@2x.jpg 2x
                        "
                        media="(min-width: 1024px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/desktop/image1.jpg    1x,
                          ./images/swiper/home/restaurant-details/desktop/image1@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="restaurant-details__img"
                        loading="lazy"
                        src="./images/swiper/home/restaurant-details/mobile/image1.jpg"
                        alt="смачний, соковитий стейк"
                        width="270"
                        height="270"
                      />
                    </picture> -->
                  </div>
                </li>
                <li class="restaurant-details__item">
                  <div class="swipe-slide">
                    <!-- <picture class="picture">
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/mobile/image4.jpg    1x,
                          ./images/swiper/home/restaurant-details/mobile/image4@2x.jpg 2x
                        "
                        media="(min-width: 414px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/tablet/image4.jpg    1x,
                          ./images/swiper/home/restaurant-details/tablet/image4@2x.jpg 2x
                        "
                        media="(min-width: 1024px)"
                      />
                      <source
                        srcset="
                          ./images/swiper/home/restaurant-details/desktop/image4.jpg    1x,
                          ./images/swiper/home/restaurant-details/desktop/image4@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="restaurant-details__img"
                        loading="lazy"
                        src="./images/swiper/home/restaurant-details/mobile/image4.jpg"
                        alt="смачний, соковитий стейк"
                        width="270"
                        height="270"
                      />
                    </picture> -->
                  </div>
                </li>
                -->
              </ul>
              <div class="restaurant-details__wrap-icon">
                <svg
                  class="restaurant-details__icon"
                  width="32px"
                  height="32px"
                >
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
                <svg
                  class="restaurant-details__icon"
                  width="32px"
                  height="32px"
                >
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </div>
            </div>
            ​
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
          </div>
        </div>
        <div class="restaurant-details__wrap-button">
          <ul class="restaurant-details__button-list">
            <li class="restaurant-details__button-item">
              <button class="button restaurant-details__button" type="submit">
                Забронювати столик
              </button>
            </li>
            <li class="restaurant-details__button-item">
              <button class="button restaurant-details__button" type="submit">
                Переглянути меню
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <span class="lines"></span>
</div>
