<section class="rest-hero">
  <div class="container">
    <div class="rest-location">
      <svg class="rest-location__icon" width="20px" height="20px">
        <use href="/src/images/icons.svg#icon-location-pin"></use>
      </svg>
      <a
        class="rest-location__link"
        href="https://goo.gl/maps/5fYRpYfwEm4AJ6J57"
        rel="noreferrer nofollow noopener"
        target="_blank"
        >Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
    </div>

    <h1 class="rest-hero__title" lang="eng">Mimiho</h1>
    <h3 class="rest-hero__name">Ресторан</h3>
    <p class="rest-hero__caption">Смак життя 24/7</p>
    <div class="rest-hero__buttons-set">
      <button class="rest-hero__button button" type="button">
        Забронювати столик
      </button>
      <button class="rest-hero__button button" type="button">
        Забронювати номер
      </button>
    </div>
    <div class="rest-hero__soc">
      <ul class="rest-hero__list">
        <li class="rest-hero__soc-items">
          <a href="#">
            <svg class="rest-hero__icon" width="22" height="22">
              <use href="/src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="rest-hero__soc-items">
          <a href="#">
            <svg class="rest-hero__icon" width="20" height="20">
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="rest-hero__soc-items">
          <a href="#">
            <svg class="rest-hero__icon" width="19" height="17">
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
