<section class="rest-hero">
  
    <div class="rest-hero__backdrop">
      <div class="container">
      <h1 class="rest-hero__title" lang="eng">Mimiho</h1>
      <h3 class="rest-hero__name">Ресторан</h3>
      <p class="rest-hero__caption">Смак життя 24&sol;7</p>
      <div class="box">
        <div class="rest-location">
          <svg class="rest-location__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-location-pin"></use>
          </svg>
          <a
            class="rest-location__link"
            href="https://goo.gl/maps/5fYRpYfwEm4AJ6J57"
            rel="noreferrer nofollow noopener"
            target="_blank"
            >Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15</a
          >
        </div>
        <div class="rest-hero__buttons-set">
          <button class="button rest-hero__button" type="button">
            Забронювати столик
          </button>
          <button class="button button--booking" type="button">
            Забронювати номер
          </button>
        </div>
      </div>
      <div class="rest-hero__soc">
        <ul class="rest-hero__list">
          <li class="rest-hero__soc-items">
            <a href="#">
              <svg class="rest-hero__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="rest-hero__soc-items">
            <a href="#">
              <svg class="rest-hero__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="rest-hero__soc-items">
            <a href="#">
              <svg class="rest-hero__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
    </div>
  </div>
    </div>
</section>
