<section class="restaurant-about">
  <div class="container">
    <div class="restaurant-about__list">
      <span class="restaurant-about__title">Amet minim mollit non</span>
      <p class="restaurant-about__subtitle">MIMIHO</p>
      <p class="restaurant-about__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ./images/restaurant-about/restaurant-about-1x.jpg,
          ./images/restaurant-about/restaurant-about-2x.jpg
        "
        media="(max-width: 1280px)"
      />
      <source
        srcset="
          ./images/restaurant-about/restaurant-about-1x.jpg,
          ./images/restaurant-about/restaurant-about-2x.jpg
        "
        media="(max-width: 1279px)"
      />
      <source
        srcset="
          ./images/restaurant-about/restaurant-about-1x.jpg,
          ./images/restaurant-about/restaurant-about-2x.jpg
        "
        media="(max-width: 1023px)"
      />
      <img
        class="restaurant-about__img"
        src="./images/restaurant-about/restaurant-about-1x.jpg"
        alt="restaurant"
        width="244"
        height="322"
      />
    </picture>
    <div class="restaurant-about__interior">
      <picture>
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-1x.jpg,
            ./images/restaurant-about/restaurant-interior-2x.jpg
          "
          media="(max-width: 1280px)"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-1x.jpg,
            ./images/restaurant-about/restaurant-interior-2x.jpg
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-1x.jpg,
            ./images/restaurant-about/restaurant-interior-2x.jpg
          "
          media="(max-width: 1023px)"
        />
        <img
          class="restaurant-about__img-interiour"
          src="./images/restaurant-about/restaurant-interior-1x.jpg"
          alt="restaurant interior"
          width="200"
          height="278"
        />
      </picture>
      <p class="restaurant-about__text-interiour">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <ul class="restaurant-about__img-bar">
      <li class="restaurant-about__img-slider">
        <img
          src="./images/restaurant-about/restaurant-bar-1x.jpg"
          alt="restaurant bar"
        />
      </li>
      <!-- <li class="restaurant-about__img-slider">
        <img
          src="./images/restaurant-about/restaurant-bar-1x.jpg"
          alt="restaurant bar"
        />
      </li>
      <li class="restaurant-about__img-slider">
        <img
          src="./images/restaurant-about/restaurant-bar-1x.jpg"
          alt="restaurant bar"
        />
      </li>
      <li class="restaurant-about__img-slider">
        <img
          src="./images/restaurant-about/restaurant-bar-1x.jpg"
          alt="restaurant bar"
          width="245"
          height="245"
        />
      </li> -->
    </ul>
    <div class="restaurant-details__arrow">
      <svg class="restaurant-details__icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-arrow-left"></use>
      </svg>
      <svg class="restaurant-details__icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
