<section class="restaurant-about">
  <div class="container__restaurant-about">
    <h2 class="visually-hidden">restaurant-about</h2>
    <span class="restaurant-about__title">Amet minim mollit non</span>
    <span class="restaurant-about__subtitle">MIMIHO</span>
    <article class="restaurant-about__article-one">
      <p class="restaurant-about__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="restaurant-about__article-img-one">
        <picture>
          <source
            srcset="
              ./images/restaurant-about/restaurant-interior-desk-1x.jpg 1x,
              ./images/restaurant-about/restaurant-interior-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant-about/restaurant-interior-tablet-1x.jpg 1x,
              ./images/restaurant-about/restaurant-interior-tablet-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/restaurant-about/restaurant-interior-mobile-1x.jpg 1x,
              ./images/restaurant-about/restaurant-interior-mobile-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="./images/restaurant-about/restaurant-interior-mobile-1x.jpg"
            alt="restaurant interior"
          />
        </picture>
      </div>
    </article>
    <article class="restaurant-about__article-two">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="restaurant-about__article-img-two">
        <picture>
          <source
            srcset="
              ./images/restaurant-about/restaurant-second-desk-1x 1x,
              ./images/restaurant-about/restaurant-second-desk-2x 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant-about/restaurant-second-tablet-1x 1x,
              ./images/restaurant-about/restaurant-second-tablet-2x 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/restaurant-about/restaurant-second-mobile-1x 1x,
              ./images/restaurant-about/restaurant-second-mobile-2x 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            src="./images/restaurant-about/restaurant-second-mobile-1x.jpg"
            alt="restaurant second"
          />
        </picture>
      </div>
    </article>

    <div class="restaurant-about__interior">
      <p class="restaurant-about__text-interiour">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <ul class="restaurant-about__img-bar">
      <li class="restaurant-about__img-slider">
        <img
          src="./images/restaurant-about/restaurant-wine-mobile-1x.jpg"
          alt="restaurant wine"
          width="245"
          height="245"
        />
      </li>
      <li class="restaurant-about__img-slider">
        <img
          src="./images/restaurant-about/restaurant-wine-mobile-1x.jpg"
          alt="restaurant wine"
          width="245"
          height="245"
        />
      </li>
    </ul>
    <div class="restaurant-details__arrow">
      <svg class="restaurant-details__icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-arrow-left"></use>
      </svg>
      <svg class="restaurant-details__icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
