<section
  class="restaurant-details restaurant-details__canvas section section__details btn-up-visible"
  data-slider="details"
>
  <div class="container restaurant-details__container">
    <span class="lines"></span>
    <div class="restaurant-details__wrap-text">
      <p class="brand restaurant-details__brand" lang="en">MIMIHO</p>
      <h2 class="restaurant-details__title">Ресторан</h2>
      <p class="restaurant-details__text text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restaurant-details__wrap-flex">
      <div class="restaurant-details__wrap-swipe">
        <div>
          <ul class="restaurant-details__list">
            <li class="restaurant-details__item">
              <div>
                <picture class="picture">
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-1.webp    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@3x.webp 3x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-1.webp    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-1.webp    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-1.jpg    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@3x.jpg 3x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-1.jpg    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@3x.jpg 3x
                    "
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-1.jpg    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@3x.jpg 3x
                    "
                    media="(max-width: 1023px)"
                  />
                  <img
                    class="restaurant-details__img"
                    loading="lazy"
                    src="./images/swiper/home/restaurant-details/mobile/slider-1.jpg"
                    alt="смачний, соковитий стейк"
                  />
                </picture>
              </div>
            </li>
            <li class="restaurant-details__item">
              <div class="swipe-slide">
                <picture class="picture">
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-2.webp    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-2@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-2@3x.webp 3x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-2.webp    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-2@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-2@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-2.webp    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-2@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-2@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-2.jpg    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-2@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-2@3x.jpg 3x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-2.jpg    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-2@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-2@3x.jpg 3x
                    "
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-2.jpg    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-2@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-2@3x.jpg 3x
                    "
                    media="(max-width: 1023px)"
                  />
                  <img
                    class="restaurant-details__img"
                    loading="lazy"
                    src="./images/swiper/home/restaurant-details/mobile/slider-2.jpg"
                    alt="смачний, соковитий шашлік на лаваші"
                  />
                </picture>
              </div>
            </li>
            <!-- <li class="restaurant-details__item">
              <div class="swipe-slide">
                <picture class="picture">
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-3.webp    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-3@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-3@3x.webp 3x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-3.webp    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-3@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-3@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-3.webp    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-3@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-3@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-3.jpg    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-3@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-3@3x.jpg 3x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-3.jpg    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-3@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-3@3x.jpg 3x
                    "
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-3.jpg    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-3@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-3@3x.jpg 3x
                    "
                    media="(max-width: 1023px)"
                  />
                  <img
                    class="restaurant-details__img"
                    loading="lazy"
                    src="./images/swiper/home/restaurant-details/mobile/slider-3.jpg"
                    alt="тарілка з салатом"
                  />
                </picture>
              </div>
            </li>
            <li class="restaurant-details__item">
              <div class="swipe-slide">
                <picture class="picture">
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-1.webp    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@3x.webp 3x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-1.webp    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-1.webp    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@2x.webp 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@3x.webp 3x
                    "
                    type="image/webp"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/desktop/slider-1.jpg    1x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/desktop/slider-1@3x.jpg 3x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/tablet/slider-1.jpg    1x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/tablet/slider-1@3x.jpg 3x
                    "
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/swiper/home/restaurant-details/mobile/slider-1.jpg    1x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@2x.jpg 2x,
                      ./images/swiper/home/restaurant-details/mobile/slider-1@3x.jpg 3x
                    "
                    media="(max-width: 1023px)"
                  />
                  <img
                    class="restaurant-details__img"
                    loading="lazy"
                    src="./images/swiper/home/restaurant-details/mobile/slider-1.jpg"
                    alt="смачний, соковитий стейк"
                  />
                </picture>
              </div>
            </li> -->
          </ul>
          <div class="restaurant-details__wrap-icon">
            <svg class="restaurant-details__icon" width="32px" height="32px">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg class="restaurant-details__icon" width="32px" height="32px">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
        <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>  -->
      </div>
    </div>
    <div class="restaurant-details__wrap-button">
      <ul class="restaurant-details__button-list">
        <li class="restaurant-details__button-item">
          <button
            class="button restaurant-details__button popup-link"
            type="button"
            data-popup="popup3"
          >
            Забронювати столик
          </button>
        </li>
        <li class="restaurant-details__button-item">
          <button
            type="button"
            class="button restaurant-details__button"
            href="./restaurant.html#menu"
          >
            Переглянути меню
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
