<section class="restaurant-details">
  <div class="container">
    <p class="brand">MIMIHO</p>
    <h2 class="title">Ресторан</h2>
    <p class="restaurant-details__text text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <ul class="restaurant-details__list">
      <li class="restaurant-details__item">
        <!-- <a href="./">
            <picture>
                <source>
                <img src="" alt="">
            </picture>
        </a> -->
      </li>
      <li class="restaurant-details__item">
        <!-- <a href="./">
            <picture>
                <source>
                <img src="" alt="">
            </picture>
        </a> -->
      </li>
      <li class="restaurant-details__item">
        <!-- <a href="./">
            <picture>
                <source>
                <img src="" alt="">
            </picture>
        </a> -->
      </li>
      <li class="restaurant-details__item">
        <!-- <a href="./">
            <picture>
                <source>
                <img src="" alt="">
            </picture>
        </a> -->
      </li>
    </ul>
    <svg class="restaurant-details__icon" width="32px" height="32px">
      <use href="./images/icons.svg#icon-arrow-left"></use>
    </svg>
    <svg class="restaurant-details__icon" width="32px" height="32px">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
    <button class="button restaurant-details__button" type="submit">
      Забронювати столик
    </button>
    <button class="button restaurant-details__button" type="submit">
      Переглянути меню
    </button>
  </div>
</section>
