<section class="room">
    <div class="container">
      <h2 class="amet-title">Amet minim mollit non</h2>
      <span class="brand">Mimino</span>
      <h3 class="room__title">Двомісний номер</h3>
      <p class="room__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <!-- <source
          srcset="
            ./images/room-two/room2_1.jpg 1x,
            ./images/room-two/room2_1@2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <source
          srcset="
          ./images/room-two/room2_2.jpg 1x,
          ./images/room-two/room2_2@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
          ./images/room-two/room2_3.jpg 1x,
          ./images/room-two/room2_3@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        /> -->

        <img
          loading="lazy"
          src="./images/room-two/room2_1.jpg"
          alt="кімната з ліжком та диваном"
        />
      </picture>
      <button class="button room-hero__button" type="button">
        Переглянути ціни
      </button>
    </div>
  </section>