<section class="room-two" data-slider="slider">
  <div class="container">
    <h2 class="tagline room-two__title">Amet minim mollit non</h2>
    <p class="brand room-two__brand" lang="en">Mimino</p>
    <h3 class="room-two__name">Двомісний номер</h3>
    <p class="room-two__text" lang="en">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <!-- <img
      class="picture room-two__picture"
      src="./images/room-two/room2_1.jpg"
      srcset="
        ./images/swiper/room-two/room2_1.jpg    1x,
        ./images/swiper/room-two/room2_1@2x.jpg 2x
      "
      alt="кімната з ліжком та диваном"
    /> -->

    <div class="wrapper-swiper wrapper-swiper--reversed">
      <div class="container-swiper">
        <div class="wrapper-mask">
          <div class="swiper mySwiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <!-- <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.webp 2x,
                      ./images/swiper/test1-desktop@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.jpg 2x,
                      ./images/swiper/test1-desktop@1x.jpg 1x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.webp 2x,
                      ./images/swiper/test1-tablet@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.jpg 2x,
                      ./images/swiper/test1-tablet@1x.jpg 1x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.webp 2x,
                      ./images/swiper/test1-mobile@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.jpg 2x,
                      ./images/swiper/test1-mobile@1x.jpg 1x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/test1-mobile@1x.jpg"
                    alt="картинка1"
                  />
                </picture> -->
              </li>
              <li class="swiper-slide">
                <!-- <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.webp 2x,
                      ./images/swiper/test1-desktop@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.jpg 2x,
                      ./images/swiper/test1-desktop@1x.jpg 1x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.webp 2x,
                      ./images/swiper/test1-tablet@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.jpg 2x,
                      ./images/swiper/test1-tablet@1x.jpg 1x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.webp 2x,
                      ./images/swiper/test1-mobile@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.jpg 2x,
                      ./images/swiper/test1-mobile@1x.jpg 1x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/test1-mobile@1x.jpg"
                    alt="картинка1"
                  />
                </picture> -->
              </li>
              <li class="swiper-slide">
                <!-- <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.webp 2x,
                      ./images/swiper/test1-desktop@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.jpg 2x,
                      ./images/swiper/test1-desktop@1x.jpg 1x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.webp 2x,
                      ./images/swiper/test1-tablet@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.jpg 2x,
                      ./images/swiper/test1-tablet@1x.jpg 1x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.webp 2x,
                      ./images/swiper/test1-mobile@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.jpg 2x,
                      ./images/swiper/test1-mobile@1x.jpg 1x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/test1-mobile@1x.jpg"
                    alt="картинка1"
                  />
                </picture> -->
              </li>
              <li class="swiper-slide">
                <!-- <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.webp 2x,
                      ./images/swiper/test1-desktop@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/test1-desktop@2x.jpg 2x,
                      ./images/swiper/test1-desktop@1x.jpg 1x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.webp 2x,
                      ./images/swiper/test1-tablet@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/test1-tablet@2x.jpg 2x,
                      ./images/swiper/test1-tablet@1x.jpg 1x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.webp 2x,
                      ./images/swiper/test1-mobile@1x.webp 1x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/test1-mobile@2x.jpg 2x,
                      ./images/swiper/test1-mobile@1x.jpg 1x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/test1-mobile@1x.jpg"
                    alt="картинка1"
                  />
                </picture> -->
              </li>
            </ul>
          </div>
          <div class="swiper-button-prev">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <a class="button room-three__link" href="#">Детальніше</a>
        <button class="button room-three__btn" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
