<section class="room-two">
  <div class="container">
    <h2 class="tagline room-two__title">Amet minim mollit non</h2>
    <p class="brand room-two__brand" lang="en">Mimino</p>
    <h3 class="room-two__name">Двомісний номер</h3>
    <p class="room-two__text" lang="en">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <img
      class="picture room-two__picture"
      src="./images/room-two/room2_1.jpg"
      srcset="
        ./images/room-two/room2_1.jpg    1x,
        ./images/room-two/room2_1@2x.jpg 2x
      "
      alt="кімната з ліжком та диваном"
    />
    <div class="img-btn-thumb">
      <div>
        <div class="img-thumb">
          <div class="room-two__thumb">
            <img
              class="picture room-two__img"
              src="./images/room-two/room2_2.jpg"
              srcset="
                ./images/room-two/room2_2.jpg    1x,
                ./images/room-two/room2_2@2x.jpg 2x
              "
              alt="Біла раковина"
            /><img
              class="picture room-two__img"
              src="./images/room-two/room2_3.jpg"
              srcset="
                ./images/room-two/room2_3.jpg    1x,
                ./images/room-two/room2_3@2x.jpg 2x
              "
              alt="Чашка кави на підвіконці"
            />
          </div>
        </div>

        <div class="btn-thumb">
          <button class="btn" type="button">
            <svg width="30px" height="17px">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="btn" type="button">
            <svg width="30px" height="17px">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div>
        <button class="button room-two__btn" type="button">Детальніше</button>
        <button class="button room-two__btn" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
