<section class="room-three" data-slider="slider">
  <div class="container room-three__container">
    <div class="room-three__wrapper">
      <h2 class="tagline room-three__tagline" lang="en">
        Amet minim mollit non
      </h2>
      <p class="brand room-three__brand" lang="en">Mimiho</p>
      <h3 class="room-three__title">ТРЬОХМІСНИЙ НОМЕР</h3>
      <p class="text room-three__text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <picture>
      <source
        srcset="
          ./images/hotel/room-desk.jpg   1x,
          ./images/hotel/room-desk2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel/room-tab.jpg   1x,
          ./images/hotel/room-tab2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/hotel/room-mob.jpg   1x,
          ./images/hotel/room-mob2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="picture room__picture"
        loading="lazy"
        src="./images/hotel/room-desk.jpg"
        alt="кімната з ліжком та диваном"
      />
    </picture>
    <div class="wrapper-swiper">
      <div class="container-swiper container-swiper--right">
        <div class="wrapper-mask">
          <div class="swiper mySwiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/hotel/desktop/room-slider1.jpg     1x,
                      ./images/swiper/hotel/desktop/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/hotel/tablet/room-slider1.jpg     1x,
                      ./images/swiper/hotel/tablet/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/hotel/mobile/room-slider1.jpg     1x,
                      ./images/swiper/hotel/mobile/room-slider1-@2x.jpg 2x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/hotel/desktop/room-slider1.jpg"
                    alt="картинка1"
                  />
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/hotel/desktop/room-slider1.jpg     1x,
                      ./images/swiper/hotel/desktop/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/hotel/tablet/room-slider1.jpg     1x,
                      ./images/swiper/hotel/tablet/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/hotel/mobile/room-slider1.jpg     1x,
                      ./images/swiper/hotel/mobile/room-slider1-@2x.jpg 2x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/hotel/desktop/room-slider1.jpg"
                    alt="картинка1"
                  />
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/hotel/desktop/room-slider1.jpg     1x,
                      ./images/swiper/hotel/desktop/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/hotel/tablet/room-slider1.jpg     1x,
                      ./images/swiper/hotel/tablet/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/hotel/mobile/room-slider1.jpg     1x,
                      ./images/swiper/hotel/mobile/room-slider1-@2x.jpg 2x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/hotel/desktop/room-slider1.jpg"
                    alt="картинка1"
                  />
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/hotel/desktop/room-slider1.jpg     1x,
                      ./images/swiper/hotel/desktop/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/hotel/tablet/room-slider1.jpg     1x,
                      ./images/swiper/hotel/tablet/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/hotel/mobile/room-slider1.jpg     1x,
                      ./images/swiper/hotel/mobile/room-slider1-@2x.jpg 2x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/hotel/desktop/room-slider1.jpg"
                    alt="картинка1"
                  />
                </picture>
              </li>
            </ul>
          </div>
          <div class="swiper-button-prev">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <a class="button room-three__link" href="#">Детальніше</a>
        <button class="button room-three__btn" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
