<section class="room-three">
  <div class="container room-three__container">
    <div class="room-three__wrapper">
      <h2 class="tagline room-three__tagline">Amet minim mollit non</h2>
      <p class="brand room-three__brand">Mimiho</p>
      <h3 class="room-three__title">ТРЬОХМІСНИЙ НОМЕР</h3>
      <p class="text room-three__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <picture>
      <source
        srcset="
          ./images/room/desktop/room1.jpg    1x,
          ./images/room/desktop/room1-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/room/tablet/room1.jpg    1x,
          ./images/room/tablet/room1-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/room/mobile/room1.jpg    1x,
          ./images/room/mobile/room1-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="picture room__picture"
        loading="lazy"
        src="./images/room/desktop/room1.jpg"
        alt="кімната з ліжком та диваном"
      />
    </picture>
    <div class="button-wrapper">
      <a class="button room-three__link" href="#">Детальніше</a>
      <button class="button room-three__btn" type="button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
