<section class="room">
  <div class="container">
    <h2 class="amet-title">Amet minim mollit non</h2>
    <p class="brand">MIMIHO</p>
    <h3 class="room__title">ТРЬОХМІСНИЙ НОМЕР</h3>
    <p class="room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/room/desktop/room1.jpg 1x,
          ./images/room/desktop/room1.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <source
        srcset="
          ./images/room/desktop/room1.jpg 1x,
          ./images/room/desktop/room1.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/room/desktop/room1.jpg 1x,
          ./images/room/desktop/room1.jpg 2x
        "
        media="(min-width: 1280px)"
      />

      <img class="picture room__picture"
        loading="lazy"
        src="./images/room/desktop/room1.jpg"
        alt="кімната з ліжком та диваном"
      />
    </picture>
    <a class="room__link" href="#">Детальніше</a>
    <button class="room__btn" type="button">Переглянути ціни</button>
  </div>
</section>
