<section>
  <div class="container">
    <a href="https://goo.gl/maps/xepWiLTKmzKFetzy8">
      <svg width="20" height="20">
        <use href="/src/images/icons.svg#icon-location-pin"></use>
      </svg>
      Україна, м. Полтава,
      вул. Маршала Бірюзова, 15
    </a>
    <ul>
      <li>
        <svg width="37" height="21">
          <use href="/src/images/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
      <li>
        <svg width="37" height="21">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>
    <h1>Двомісний номер</h1>
    <p>Люкс</p>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul>
      <li>
        <svg width="22" height="22">
          <use href="/src/images/icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li>
        <svg width="20" height="20">
          <use href="/src/images/icons.svg#icon-facebook"></use>
        </svg>
      </li>
      <li>
        <svg width="20" height="18">
          <use href="/src/images/icons.svg#icon-telegram"></use>
        </svg>
      </li>
    </ul>
    <button type="button">Переглянути ціни</button>
  </div>
</section>