<section class="room-luxe" data-slider="slider">
  <div class="container">
    <div class="room-luxe__wrapper">
      <h2 class="tagline room-luxe__tagline" lang="en">
        Amet minim mollit non
      </h2>
      <p class="brand room-luxe__brand" lang="en">Mimiho</p>
      <h3 class="room-luxe__title">ДВОМІСНИЙ НОМЕР люкс</h3>
      <p class="text room-luxe__text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ./images/hotel/room-desk.jpg   1x,
          ./images/hotel/room-desk2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel/room-tab.jpg   1x,
          ./images/hotel/room-tab2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/hotel/room-mob.jpg   1x,
          ./images/hotel/room-mob2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="picture room__picture"
        loading="lazy"
        src="./images/hotel/room-desk.jpg"
        alt="кімната з ліжком та диваном"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hotel/room-desk.jpg   1x,
          ./images/hotel/room-desk2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel/room-tab.jpg   1x,
          ./images/hotel/room-tab2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/hotel/room-mob.jpg   1x,
          ./images/hotel/room-mob2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="picture room__picture"
        loading="lazy"
        src="./images/hotel/room-desk.jpg"
        alt="кімната з ліжком та диваном"
      />
    </picture>
    <div class="container-swiper container-swiper__left">
      <div class="button-wrapper">
        <a class="button room-luxe__link" href="#">Детальніше</a>
        <button class="button room-luxe__btn" type="button">
          Переглянути ціни
        </button>
      </div>
      <div class="container-swiper container-swiper__left">
        <div class="wrapper-mask">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/hotel/desktop/room-slider1.jpg     1x,
                      ./images/swiper/hotel/desktop/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/hotel/tablet/room-slider1.jpg     1x,
                      ./images/swiper/hotel/tablet/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/hotel/mobile/room-slider1.jpg     1x,
                      ./images/swiper/hotel/mobile/room-slider1-@2x.jpg 2x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/hotel/desktop/room-slider1.jpg"
                    alt="картинка1"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/swiper/hotel/desktop/room-slider1.jpg     1x,
                      ./images/swiper/hotel/desktop/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/swiper/hotel/tablet/room-slider1.jpg     1x,
                      ./images/swiper/hotel/tablet/room-slider1-@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./images/swiper/hotel/mobile/room-slider1.jpg     1x,
                      ./images/swiper/hotel/mobile/room-slider1-@2x.jpg 2x
                    "
                  />
                  <img
                    class="image"
                    src="./images/swiper/hotel/desktop/room-slider1.jpg"
                    alt="картинка1"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="btn-thumb">
            <button class="btn swiper-button-prev" type="button"></button>
            <button class="btn swiper-button-next" type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
