.brand {
    font-family: $logo-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: #494848;

    @include respondTo('diapente') {
        font-size: 64px;
        line-height: 1.078;
    }

    @include respondTo('diapason') {
        color: #828282;
    }
}