.button-reserve {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.219;
    text-transform: capitalize;
    color: getColor('primary-inversed');
    background-color: getColor('primary');

    &:focus, &:hover, &:active {
        background-color: getColor('accent');
        color: getColor('primary');
    }

    @include respondTo('diapente') {
        font-size: 24px;
    }
}