.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.219;
    letter-spacing: 0.02em;
    background-color: getColor('primary');
    color: getColor('accent');
    border: 2px solid getColor('primary-inversed');
    border-radius: 25px;
    cursor: pointer;
    @include transition(background-color, border-color); 

    &:focus, &:hover, &:active {
        background-color: getColor('primary-inversed');
        border-color: getColor('accent');
    }
}