.container {
  outline: 1px dotted grey;
}

.container-swiper {
  display: flex;
  flex-direction: column;
  margin-top: 0px;

  @include respondTo('diapente') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }
}

.wrapper-mask {
  position: relative;
  overflow: hidden;
  padding: 60px;
}

.swiper {
  overflow: visible;
  width: 404px;
  transform: translateX(34px);
  @include respondTo('diapente') {
    width: 428px;
    transform: translateX(34px);
  }

  &--picture {
    height: 100%;
  }

  &-slide {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    visibility: hidden;
  }

  &-wrapper {
    @extend %list;
  }
}


// .swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next {
  visibility: visible;
}

//ПЕРЕВИЗНАЧЕНІ СТИЛІ ДЛЯ СТОРІНКИ HOME СЕКЦІЯ HOTEL-DETAILS!!!!!! 
.hotel-details__swiper-slide.swiper-slide-prev {
  width: 162px !important;
}

.hotel-details__swiper-slide.swiper-slide-active {
  width: 270px !important;
}


// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  display: block;
  border: none;
  outline: none;
  background: none;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
  // width: 32px;
  // height: 32px;
  @extend %icon;
  fill: getColor('primary');
  @include transition(fill);
  &:hover {
    fill: getColor('accent');
  }
}

// ЗМІНА КОЛЬОРУ СТРІЛОЧОК ДЛЯ ТЕМНОЇ СЕКЦІЇ (HOTEL-DETAILS)
.hotel-details__swiper--arrow {
  fill: getColor('primary-inversed');
}

.swiper-button-disabled.swiper-button-next,
.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
  fill: getColor('primary-inversed');
}

.wrapper-swiper {
  margin-top: -24px;
  outline: 1px dotted blue;
  @include respondTo('diapente') {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
  //background-image: url('../images/swiper/arrow-left-disabled.svg');
}

.swiper__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 32px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}