.container-swiper {
  display: flex;
  flex-direction: column;
  margin-top: 0px;

  @include respondTo('diapente') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }
}

.wrapper-mask {
  position: relative;
  overflow: hidden;
  margin-right: -15px;
  @include respondTo('diapente') {
    margin-left: -60px;
    margin-right: 0;
    .wrapper-swiper--right & {
      margin-left: 0;
      margin-right: -60px;
    }
  }
}

.swiper {
  overflow: visible;
  width: 404px;
  transform: translateX(34px);
  @include respondTo('diapente') {
    width: 428px;
    transform: translateX(0px);
  }
  @include respondTo('diapason') {
    width: 548px;
    transform: translateX(0px);
  }
  &--large {
    width: 506px;
    @include respondTo('diapente') {
      width: 404px;
    }
    @include respondTo('diapason') {
      width: 506px;
    }
  }
  &-slide {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    visibility: hidden;
  }
  &-wrapper {
    @extend %list;
  }
}

// .swiper-slide.swiper-slide-prev,
.swiper-slide-active {
  visibility: visible;
}

.swiper-slide-prev {
  visibility: visible;
  .wrapper-swiper--right & {
    visibility: hidden;
  }
  @include respondTo('diapente') {
    visibility: hidden;
  }
}
.swiper-slide-next {
  visibility: hidden;
  .wrapper-swiper--right & {
    visibility: visible;
  }
  @include respondTo('diapente') {
    visibility: visible;
  }
}

//ПЕРЕВИЗНАЧЕНІ СТИЛІ ДЛЯ СТОРІНКИ HOME СЕКЦІЯ HOTEL-DETAILS!!!!!!
.hotel-details__swiper-slide.swiper-slide-prev {
  width: 162px !important;
}

.hotel-details__swiper-slide.swiper-slide-active {
  width: 270px !important;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
  @extend %icon;
  fill: getColor('primary');
  @include transition(fill);
  &:hover {
    fill: getColor('accent');
  }
}

// ЗМІНА КОЛЬОРУ СТРІЛОЧОК ДЛЯ ТЕМНОЇ СЕКЦІЇ (HOTEL-DETAILS)
.hotel-details__swiper--arrow {
  fill: getColor('primary-inversed');
}

.swiper-button-disabled.swiper-button-next,
.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
  fill: getColor('primary-inversed');
}

.wrapper-swiper {
  margin-top: -24px;
  @include respondTo('diapente') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--right {
    flex-direction: row-reverse;
  }
}

.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
}

.swiper__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 32px;
  position: absolute;
  bottom: 8px;
  left: 0px;
  right: unset;
  @include respondTo('diapente') {
    right: 60px;
    left: unset;
  }
  .wrapper-swiper--right & {
    left: 60px;
    right: unset;
  }
}

.swiper-slide .image {
  width: 100%;
  height: 100%;
}
