.footer {
    position: relative;
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    @include respondTo('diapente') {
        max-width: 1024px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include respondTo('diapason') {
        max-width: 1280px;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    @include respondTo('tritonus') {
        justify-content: space-around;
    }
}
.footer__content {
    
    @include respondTo('diapente') {
        display: flex;
        flex-basis: 50vw;
    }
}
.navigations__link {
    @extend %link;
    font-family: $text-font-stack;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: getColor('accent');
    @include respondTo('tritonus') {
    margin-bottom: 34px;
}
}

.navigations__item--footer:not(:last-child) {
    margin-bottom: 16px;
}

.navigations--footer {
    @extend %list;
}

.logo--footer {
    display: flex;
    font-size: 40px;
    color: getColor('accent');
    text-transform: uppercase;
    flex-basis: 51vw;
    justify-content: center;
    @include respondTo('tritonus') {
        margin-right: auto;
        margin-left: auto;
    }
    @include respondTo('diapente') {
        font-size: 64px;
        line-height: 1.08;
    }
}

.footer__socials {
    gap: 20px;

    @include respondTo('diapente') {
        gap: 12px;
        flex-direction: column-reverse;
    }
}

.footer__socials-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respondTo('diapente') {
        padding: 7px 12px;
        border: 0.5px solid getColor('accent');
        border-radius: 2px;
    }

}

.wrapper-footer {
    background-color: #0E0C07;
}

.footer__nav {
    display: flex;
    @include respondTo('diapente') {
    flex-basis: 23vw;
    }
    @include respondTo('tritonus') {
        margin-bottom: 32px;
    }
}


.footer__lines {
    @include respondTo('diapente') {
    content: '';
    position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  min-height: 304px;
  background-color: rgba(122, 122, 122, 0.4);
  z-index: 2;
    }   
  }
    
  .footer__lines::after {
    @include respondTo('diapente') {
    content: '';
    position: absolute;
  top: 0;
  right: -23vw;
  width: 1px;
  min-height: 304px;
  background-color: rgba(122, 122, 122, 0.4);
  z-index: 2;
    }
     
  }
