.footer {
    background-color: #0E0C07;
}

.footer__container {
    min-height: 240px;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
    @media screen and (min-width: 1024px) {
        min-height: 304px;
        padding-top: 80px;
        padding-bottom: 80px;
        justify-content: space-around;
    }
}

.footer__content {
    @media screen and (max-width: 1023px) {
        margin-right: 15px;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.logo--footer {
    font-family: $logo-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.3em;
    color: #F3C653;
    text-decoration: none;

    @media screen and (max-width: 1023px) {
        margin-right: auto;
        margin-left: auto;
    }
}

.footer__nav {
    @extend %list;

    @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) {
        margin-right: 137px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 199px;
    }

}

.footer__soc-menu {
    @extend %list;
    gap: 21px;
    
    @media screen and (max-width: 1023px) {
            display: none;
        }
    
        @media screen and (min-width: 1024px) {
            display: block;
        }
}

.footer__soc-menu--telefon {
    @extend %list;
    display: flex;
    gap: 21px;

    @media screen and (max-width: 1023px) {
        display: flex;
    }
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.footer__link {
    font-family: $text-font-stack;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F3C653;
    text-decoration: none;
}

.footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__soc-icon {
    fill: rgba(243, 198, 83, 0.7);

}

.footer__soc-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    @media screen and (min-width: 1024px) {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #F3C653;
    }
}

.footer__soc-item {
    @media screen and (min-width: 1024px) {
        padding: 10px 12px;
        border: 0.5px solid #F3C653;
        border-radius: 2px;
        min-width: 144px;
    }
}

.footer__soc-item:not(:last-child) {
    @media screen and (min-width: 1024px) {
        margin-bottom: 12px;
    }
}