.contacts {
}
.container {
}

.brant {
    font-family: $logo-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: #494848;
}
.contacts__subtitle {
    font-family: $text-font-stack;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5F5F5F;
}
.contacts__list {
}
.contacts__item {
}
.contacts__department {
}
.contacts__box {
    background-color: #ffffff;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
}
.contacts__number {
}
.contacts__icon {
}
.location {
}
.location__address {
}
.location__icon {
}
.contacts__map {
    border: 1px solid #BABABA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}