.contacts {
}
.container {
}

.brant {
}
.contacts__subtitle {
}
.contacts__list {
}
.contacts__item {
}
.contacts__department {
}
.contacts__box {
    background-color: #FFFFFF;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
}
.contacts__number {
}
.contacts__icon {
}
.location {
}
.location__address {
}
.location__icon {
}
.contacts__map {
    border: 1px solid #BABABA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}