.hotel-hero {
  @include backgroundImageRetina(
    $page: hero,
    $section: hotel,
    $part: mobile,
    $file: hero-mob,
    $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
  );
  @include respondTo('diapente') {
    @include backgroundImageRetina(
      $page: hero,
      $section: hotel,
      $part: tablet,
      $file: hero-tab,
      $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
    );
  }
  @include respondTo('diapason') {
    @include backgroundImageRetina(
      $page: hero,
      $section: hotel,
      $part: desktop,
      $file: hero-desk,
      $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
    );
  }

  .hotel-hero__title {
    margin-bottom: 32px;
  }

  .hotel-hero__subtitle {
    font-size: 20px;
    margin-bottom: 178px;
    color: getColor('primary-inversed');

    @include respondTo('diapente') {
      margin-bottom: 218px;
    }

    @include respondTo('diapason') {
      margin-bottom: 242px;
    }
  }

  .hotel-hero__location {
    @include respondTo('tritonus') {
      position: absolute;
      top: 64px;
      right: 15px;
    }
  }

  .hotel-hero__socials {
    gap: 20px;
    margin-top: 58px;

    @include respondTo('diapente') {
      margin-top: 25px;
    }
  
    @include respondTo('diapason') {
      display: none;
    }
  }
}
