.hotel-details {
  position: relative;

  &__canvas {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    max-width: 414px;
    @include backgroundImageRetina(
      $gradient: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
      $page: hero,
      $section: hotel,
      $part: mobile,
      $file: hero-mob,
      $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
    );
    @include respondTo('diapente') {
      max-width: 1024px;
      @include backgroundImageRetina(
        $gradient: linear-gradient(
          rgba(0, 0, 0, 0.76), 
          rgba(0, 0, 0, 0.76)),
        $page: hero,
        $section: hotel,
        $part: tablet,
        $file: hero-tab,
        $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
      );
    }
    @include respondTo('diapason') {
      max-width: 1280px;
      @include backgroundImageRetina(
        $gradient: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)),
        $page: hero,
        $section: hotel,
        $part: desktop,
        $file: hero-desk,
        $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
      );
    }
  }
}

.hotel-details__container {
  position: relative;
  z-index: 2;
  min-height: 620px; //вказана висота поки не має слайдеру!!!
}

.hotel-details__brand {
  display: block;
  padding-top: 24px;
  // text-align: center;
  margin-left: 128px;
  color: getColor('primary-inversed');
  margin-bottom: 12px;

  @include respondTo('tritonus') {
    text-align: center;
  }

  @include respondTo('diapente') {
    margin-right: 278px;
    margin-left: auto;
    margin-bottom: 16px;
  }
}

.hotel-details__title {
  margin-left: 186px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: getColor('primary-inversed');

  @include respondTo('diapente') {
    font-size: 24px;
    margin-left: 612px;
  }
}

.hotel-details__text {
  max-width: 243px;
  margin-left: 17px;
  color: #bababa;

  @include respondTo('diapente') {
    max-width: 549px;
    margin-left: 150px;
  }
}

.btn-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 32px;
  padding-bottom: 40px;

  @include respondTo('diapente') {
    position: absolute;
    right: 0;
    bottom: 100px;
    padding: 0;
    margin: 0;
  }
}

.hotel-details__button {
  @include buttonSize(
    $padding-top: 14px,
    $padding-bottom: 14px,
    $section-button: true
  );
  @include buttonPlace($transparent-button: true);
}

//.hotel-details__slide--img {
//  height: 270px;
//  object-fit: cover;
//}

