.hotel-about {
    padding-top: 18px;
    padding-bottom: 20px;
    background-color: #FFFDEE;
}

.conteiner {
    padding: 0 15px;
}

.hotel-about__title {
    margin-bottom: 6px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: right;
    
    
    color: #B4B4B4;
}

.hotel-about__logo {
    margin: 0;
    padding: 0;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    text-transform: uppercase;
    text-align: right;    

    letter-spacing: 0.3em;

    color: #494848;
}

.hotel-about-article-one {
    margin-bottom: 8vw;
}

.hotel-about-article-one__description {
    width: 58vw;
    margin-left: auto;
    margin-bottom: 7vw;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    
    color: #5F5F5F;
}

.hotel-about-article-one source {
    width: 59vw;
}

.hotel-about-article-two {
    display: flex;
    margin-bottom: 8vw;
    align-items: center;
}

.hotel-about-article-two__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #C79002;
}

.hotel-about-article-two source {
    width: 48vw;
}