.kitchen-about {
  position: relative;
  z-index: -2;
}

.tagline--kitchen-about {
  margin-bottom: 12px;
  @include respondTo('diapente') {
    margin-bottom: 4px;
  }
}

.kitchen-about__subtitle {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: 0;
  color: 'primary';
  max-width: 127px;
  @include respondTo('unisonus') {
    margin-bottom: 16px;
  }
  @include respondTo('diapente') {
    max-width: 202px;
    margin-bottom: 24px;
  }
  @include respondTo('diapason') {
    color: mix(getColor('primary-inversed'), getColor('primary'), 68%);
  }
}

.kitchen-about__text {
  @extend %marginPaddingReset;
  display: block;
  font-family: $text-font-stack;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 12px;
  color: mix(getColor('primary-inversed'), getColor('primary'), 37.3%);
  margin-bottom: 28px;

  @include respondTo('tritonus') {
    max-width: 258px;
  }

  @include respondTo('diapente') {
    font-size: 16px;
    margin-bottom: 142px;
    width: 439px;
  }

  @include respondTo('diapason') {
    margin-bottom: 162px;
    width: 518px;
  }
}

.kitchen-about__article {
margin-top: 12px;
@include respondTo('diapente') {
  max-width: 439px;
  margin-top: 24px;
}
}

.kitchen-about__article-img-one {
  display: block;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 32px;
  z-index: 2;
  margin-left: auto;

  @include respondTo('unisonus') {
    max-width: 244px;
  }
  @include respondTo('diapente') {
    max-width: 400px;
    position: absolute;
    top: -32px;
    right: 112px;
  }
  @include respondTo('diapason') {
    right: 180px;
    max-width: 460px;
    top: -33px;
  }
}
.kitchen-about__article-img-two {
  display: flex;
  justify-content: start;
  align-items: center;
}

.kitchen-about__food {
  display: flex;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;

  @include respondTo('tritonus') {
    max-width: 200px;
    margin-right: 20px;
    z-index: 2;
  }
  
  @include respondTo('diapente') {
    max-width: 350px;
    margin-right: 48px;
    z-index: 2;
  }
  @include respondTo('diapason') {
    max-width: 460px;
    margin-right: 32px;
  }
}
.kitchen-about__text-food {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-family: $text-font-stack;
  color: getColor('accent-darker');
  max-width: 163px;


  @include respondTo('diapente') {
    font-size: 16px;
    max-width: 312px;
  }
  @include respondTo('diapason') {
    max-width: 311px;
    margin-bottom: 121px;
  }
}
.kitchen-about__arrow {
  display: flex;
  justify-content: end;
  gap: 32px;
}

// .lines--kitchen {
//   z-index: 1;
// }