.restaurant-about__container {
  position: relative;
}

.restaurant-about__tagline {
  margin-bottom: 16px;
  margin-right: 209px;
  width: 100%;
}

.restaurant-about__brand {
  display: block;
  margin-right: auto;

  @include respondTo('unisonus') {
    margin-bottom: 16px;
  }

  @include respondTo('diapente') {
    margin-top: 0;
    margin-bottom: 16px;
  }

  @include respondTo('diapason') {
    margin-bottom: 24px;
  }
}

.restaurant-about__interior {
  @include respondTo('tritonus') {
    margin-bottom: 32px;
  }

  @include respondTo('diapente') {
    margin-bottom: 142px;
  }

  @include respondTo('diapason') {
    margin-bottom: 162px;
  }
}

.restaurant-about__text {
  display: block;
  font-family: $text-font-stack;
  line-height: 1.2;
  margin-bottom: 28px;
  font-weight: 600;
  margin-top: 12px;
  letter-spacing: 0.02em;
  font-size: 12px;
  width: 258px;
  color: mix(getColor('primary-inversed'), getColor('primary'), 37.3%);
  margin-bottom: 28px;

  @include respondTo('diapente') {
    width: 439px;
    margin-bottom: 0px;
  }

  @include respondTo('diapason') {
    width: 518px;
  }
}

.restaurant-about__img-interior {
  display: block;
  margin-left: 155px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;

  @include respondTo('unisonus') {
    width: 244px;
  }

  @include respondTo('diapente') {
    max-width: 400px;
    position: absolute;
    top: -32px;
    right: 65px;
  }

  @include respondTo('diapason') {
    right: 95px;
    max-width: 460px;
  }
}

.restaurant-about__img {
  display: block;
}

.restaurant-about__icon {
  display: block;
}

.restaurant-about__img-interiour {
  display: block;
  margin-right: auto;
  margin-top: 32px;
  border-radius: 2px;
}

.restaurant-about__table {
  margin-bottom: 32px;
  margin-top: 32px;
}

.restaurant-about__img-lobby {
  display: flex;
  border-radius: 2px;
  overflow: hidden;

  @include respondTo('unisonus') {
    max-width: 200px;
  }

  @include respondTo('diapente') {
    max-width: 350px;
    margin-right: auto;
    margin-top: 142px;
  }

  @include respondTo('diapason') {
    max-width: 460px;
    margin-right: auto;
  }
}

.restaurant-about__text-lobby {
  font-family: $text-font-stack;
  color: #c79002;
  font-weight: 600;
  font-size: 13px;
  margin-top: 102px;
  line-height: 1.21;
  width: 100%;
  margin-left: 15px;
  letter-spacing: 0.02em;

  @include respondTo('unisonus') {
    width: 163px;
    margin-left: 20px;
  }

  @include respondTo('diapente') {
    width: 312px;
    margin-left: 48px;
    margin-right: 267px;
    margin-top: 180px;
  }

  @include respondTo('diapason') {
    width: 311px;
    margin-bottom: 121px;
    margin-left: 346px;
    margin-left: 32px;
    margin-top: 121px;
  }
}

.restaurant-about__arrow {
  display: flex;
  justify-content: end;
  gap: 32px;
}

.restaurant-about__icon {
  display: block;
  margin-left: 301px;
}

.container__restaurant-about {
  display: block;
}

.swiper-slide {
  display: flex;
  width: 100%;
}

// .img-swiper {
//   width: 245px;
// }
