$hero-button: true;

.section-wrapper {
  position: relative;
  z-index: -2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 414px;
  width: 100%;
  height: 100%;
  @include backgroundImageRetina($page: home, $section: restaurant-details, $part: mobile, $file: background-mob, $webp-file: '../images/home/restaurant-details/desktop/background-desk.webp');
  @include respondTo('diapente') {
     max-width: 1024px;
    @include backgroundImageRetina($gradient: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), $page: home, $section: restaurant-details, $part: tablet, $file: background-tab, $webp-file: '../images/home/restaurant-details/desktop/background-desk.webp');
  }
  @include respondTo('diapason') {
    max-width: 1280px;
    @include backgroundImageRetina($gradient: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), $page: home, $section: restaurant-details, $part: desktop, $file: background-desk, $webp-file: '../images/home/restaurant-details/desktop/background-desk.webp');
  }
}

.restaurant-details {
  &__container {
    position: relative;
  }

  &__wrap-text {
    margin-left: 125px;

    @include respondTo("diapente") {
      margin-left: 231px;
      width: 610px;
    }

    @include respondTo("diapason") {
      margin-left: 264px;
    }
  }


  &__brand {
    @extend %marginPaddingReset;
    margin-bottom: 12px;
    color: getColor("primary-inversed");

    @include respondTo("diapente") {
      margin-bottom: 16px;
    }
  }

  &__title {
    @extend %marginPaddingReset;
    margin-bottom: 20px;
    font-family: $text-font-stack;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: getColor("primary-inversed");

    @include respondTo("diapente") {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 1.208;
    }
  }

  &__text {
    margin-bottom: 48px;
    color: scale-color(getColor("primary-inversed"), $blackness: 37%);

    @include respondTo("diapente") {
      margin-bottom: 40px;
    }
  }

  &__wrap-flex {
    z-index: 10;
    @include respondTo("diapente") {
      position: relative;
      display: flex;
      flex-direction: row-reverse;

    }
  }

  &__wrap-swipe {
    margin-left: 25px;
    margin-bottom: 32px;
    overflow: hidden;

    @include respondTo("diapente") {
      margin-bottom: 47px;
      margin-left: 254px;
    }

    @include respondTo("diapason") {
      margin-left: 257px;
    }
  }

  &__list {
    @extend %list;
    display: flex;
    column-gap: 30px; //прибрати це (в скрипті вже задана відстань
    margin-bottom: 16px;

    @include respondTo("diapente") {
      margin-bottom: 32px;
    }
  }

  &__img {
    @extend %marginPaddingReset;
    border-radius: 2px;
    background-color: hsl(0, 0%, 85%);
  }

  // &__icon {
  //   @extend %icon;
  //   display: inline;
  //   margin-right: 30px;
  //   fill: getColor("primary-inversed");
  // }

  &__wrap-button {
    @include respondTo("diapente") {
      position: absolute;
      top: 145px;
      top: 145px;
      left: 0px;
    }
  }

  &__button-list {
    @extend %list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include respondTo("diapente") {
      gap: 16px;
    }
  }

  &__button-item:not(:last-child) {
    @include respondTo('tritonus') {
      margin-bottom: 16px;
    }
  }

  &__button {
    @extend %link;
    display: inline-block;
    @include buttonSize($section-button:true, $padding-top: 14px, $padding-bottom: 14px);
    @include buttonPlace($transparent-button: true);
  }
}