.rest-hero {
  width: 100%;

  @include backgroundImageRetina(
    $page: hero,
    $section: restaurant,
    $part: mobile,
    $file: hero-mob,
    $webp-file: '../images/hero/restaurant/desktop/hero-desk.webp'
  );

  @include respondTo('diapente') {
    @include backgroundImageRetina(
      $page: hero,
      $section: restaurant,
      $part: tablet,
      $file: hero-tab,
      $webp-file: '../images/hero/restaurant/desktop/hero-desk.webp'
    );
  }

  @include respondTo('diapason') {
    @include backgroundImageRetina(
      $page: hero,
      $section: restaurant,
      $part: desktop,
      $file: hero-desk,
      $webp-file: '../images/hero/restaurant/desktop/hero-desk.webp'
    );
  }
}

.rest-hero__title {
  margin-bottom: 20px;

  @include respondTo('diapente') {
    margin-bottom: 16px;
  }

  @include respondTo('diapason') {
    margin-bottom: 32px;
  }
}

.rest-hero__subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  color: getColor('primary-inversed');

  @include respondTo('diapente') {
    margin-bottom: 56px;
    font-size: 20px;
  }

  @include respondTo('diapason') {
    margin-bottom: 64px;
  }
}

.rest-hero__location {
  @include respondTo('tritonus') {
    position: absolute;
    top: 64px;
    right: 15px;
  }
}

.restaurant-hero__socials {
  gap: 20px;
  margin-top: 58px;

  @include respondTo('diapente') {
    margin-top: 25px;
  }

  @include respondTo('diapason') {
    display: none;
  }
}
