// .room {
// }
// .container {
// }
.amet-title {
  font-family: $text-times-font;
  font-style: normal;
  text-align: end;
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  @extend%marginPaddingReset;
}
.brand {
  font-family: $logo-font;
  text-transform: uppercase;
  text-align: end;
  margin-bottom: 32px;
  margin-right: -12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  @extend%marginPaddingReset
}
@media (min-width: 1024px) {
    .room-three__wrapper {
      display: inline-flex;
      flex-direction: column;
    }
  }
.room-three__title {
  font-family: $text-times-font;
  font-style: normal;
  text-align: end;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #000000;
  @extend%marginPaddingReset
}
.room-three__text {
  font-family: $text-font-stack;
  font-style: normal;
  text-align: start;
  max-width: 242px; 
  margin-left: 68px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  @extend%marginPaddingReset
}
@media (min-width: 1024px) {
    .room-three__text {
      margin-left: 0;
    }
  }
.room-three__link {
  display: inline-block;
  margin-left: 89px;
  margin-top: 27px;
  margin-bottom: 16px;
  padding: 14px 65px;
  @extend%link;
}
.room-three__btn {
  margin-left: 89px;
  padding: 14px 37px;
  cursor: pointer;
}
